@charset "UTF-8";

@font-face {
  font-family: "../fonts/NotoSansCJKsc-Light";
  src: url("../fonts/NotoSansCJKsc-Light.eot");
  src: url("../fonts/NotoSansCJKsc-Light.woff2") format("woff2"),
       url("../fonts/NotoSansCJKsc-Light.woff") format("woff"),
       url("../fonts/NotoSansCJKsc-Light.ttf") format("truetype"),
       url("../fonts/NotoSansCJKsc-Light.eot?#font-spider") format("embedded-opentype"),
       url("../fonts/NotoSansCJKsc-Light.svg") format("svg");
       /*url("../fonts/NotoSansCJKsc-Light.otf") format("opentype");*/
  font-weight: normal;
  font-style: normal;
}