<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>List</title>
		<link rel="stylesheet" href="../../Content/wisdom/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/wisdom/iconfont/material-icons.css"/>
		<link rel="stylesheet" href="../../Content/wisdom/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/wisdom/css/FindPassword.css?v=20171206"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/widom/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/widom/lib/respond.min.js"></script>
	    <![endif]-->
		
	</head>
<body>
	
	<div class="container-fluid">
		<div class="row find-banner"></div>
		<div class="row find-content">
			<div class="find-content-box">
				<div class="find-title">忘记密码</div>
				<div class="login-back-btn">返回登录</div>
				<ul class="find-progress clearbox">
					<li class="progress-line"></li>
					<li class="progress-line"></li>
					<li class="progress-line"></li>
				</ul>
				<div class="step-box clearbox">
					<div class="step-item step-one">验证邮箱/手机号码</div>
					<div class="step-item step-two">成功找回密码</div>
				</div>
				<div class="form-box">
					<div class="input-box">
						
					</div>
					<div class="input-box">
						
					</div>
					<div class="input-box">
						
					</div>
					<div class="input-box">
						
					</div>
					<div class="input-box">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../Scripts/wisdom/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/wisdom/lib/vue.min.js"></script>
	<script>
		$(function(){
			
			$("body").on("click",".position-name",function(){
				window.location.href="PositionDetail.html";
			})
			
		})
	</script>
</body>
</html>
