<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>MyBackstage</title>
		<link rel="stylesheet" href="../../Content/wisdom/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/wisdom/iconfont/material-icons.css"/>
		<link rel="stylesheet" href="../../Content/wisdom/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/wisdom/css/MyBackstage.css?v=20171207"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/widom/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/widom/lib/respond.min.js"></script>
	    <![endif]-->
		
	</head>
<body>
	
	<div class="container-fluid">
		<header id="page-top" class="row">
			<div class="row top-box top-width">
				<div class="top-logo"></div>
				<ul class="top-nav">
					<li class="top-nav-item"><a href="Index.html">首页</a></li>
					<li class="top-nav-item"><a href="PositionList.html">职位</a></li>
					<li class="top-nav-item"><a href="#">服务</a></li>
					<li class="top-nav-item"><a href="#">关于我们</a></li>
					<li class="top-nav-item login-register"><a href="#">注册/登录</a></li>
				</ul>
			</div>
			<div class="row top-banner">
				<div class="resume-head-box">
					<img src="../../Content/wisdom/img/head.png" alt="头像" class="resume-head"/>
				</div>
				<div class="resume-name">Panda95</div>
				<div class="resume-tag-box clearbox">
					<div class="resume-tag-content clearbox">
						<ul class="resume-tag clearbox">
							<li class="tag-item">研发类</li>
							<li class="tag-item">吃苦耐劳</li>
							<li class="tag-item">奉献精神</li>
						</ul>
						<div class="add-tag-btn"></div>
					</div>
				</div>
			</div>
		</header>
		
		<section class="row">
			<div class="nav-content">
				<ul class="nav-box clearbox">
					<li class="nav-item">
						<span class="nav-text">收藏职位</span>
						<span class="item-num">23422343</span>
					</li>
					<li class="nav-item">
						<span class="nav-text">投递职位</span>
						<span class="item-num">2323</span>
					</li>
					<li class="nav-item">
						<span class="nav-text">有关留言</span>
						<span class="item-num">456</span>
					</li>
					<li class="nav-item">
						<span class="nav-text">我的简历</span>
						<span class="item-num">4</span>
					</li>
					<li class="nav-item">
						<span class="nav-text">我的测评</span>
						<span class="item-num">45</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				
				<div class="head-content">
					<img src="../../Content/wisdom/img/head.png" alt="头像" class="head-img"/>
					<div class="head-name">
						<span class="name-text">Jessie Lai</span>
						<span class="name-icon"><i class="fa fa-venus" aria-hiden="true"></i><i class="fa fa-mars" aria-hidden="true"></i></span>
					</div>
					<div class="head-contact">
						<span class="head-phone"><span class="phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="phone-num">13801010101</span></span>
						<span class="head-email"><span class="email-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="email-num">9993332738@163.com</span></span>
					</div>
					<div class="head-address">
						<span class="address-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<span class="address-text">上海市长宁区玛瑙路1438号国际古北财富中心二期</span>
					</div>
				</div>
				
				<div class="resume-content">
					
				</div>
				
			</div>
		</section>
		
	</div>
	
	<div class="flo-box">
		<div class="tag-select-box">
			<div class="tag-cancel-btn"></div>
			<div class="select-title">
				<span class="title-text">标签选择</span>
				<span class="title-dec">最多选择5个标签</span>
				<span class="tag-num-box">共213个标签</span>
			</div>
			<ul class="select-list">
				<li class="select-list-item">
					<div class="select-item-title">标签分类一</div>
					<ul class="select-item-list clearbox">
						<li class="select-item">数据分析</li>
						<li class="select-item">标签123</li>
						<li class="select-item">学习能力</li>
						<li class="select-item">标签3</li>
						<li class="select-item">标签2</li>
						<li class="select-item">标签454</li>
						<li class="select-item">标签5445</li>
						<li class="select-item">标签67</li>
						<li class="select-item">标签7</li>
						<li class="select-item">标签3</li>
						<li class="select-item">标签363</li>
						<li class="select-item">标签3223</li>
					</ul>
				</li>
				<li class="select-list-item">
					<div class="select-item-title">标签分类二二二</div>
					<ul class="select-item-list clearbox">
						<li class="select-item">操作简单</li>
						<li class="select-item">学习容易</li>
						<li class="select-item">讲解清晰</li>
						<li class="select-item">学习能力</li>
						<li class="select-item">标签3</li>
						<li class="select-item">标签2</li>
						<li class="select-item">标签4</li>
						<li class="select-item">标签5</li>
						<li class="select-item">标签6</li>
						<li class="select-item">标签7</li>
						<li class="select-item">标签3</li>
						<li class="select-item">标签3</li>
					</ul>
				</li>
				<li class="select-list-item">
					<div class="select-item-title">标签分类三三三</div>
					<ul class="select-item-list clearbox">
						<li class="select-item">可以加班</li>
						<li class="select-item">接受安排</li>
						<li class="select-item">乐于奉献</li>
						<li class="select-item">标签3434</li>
						<li class="select-item">标签3434</li>
						<li class="select-item">标签34</li>
						<li class="select-item">标签4</li>
						<li class="select-item">标签388</li>
						<li class="select-item">标签3434</li>
						<li class="select-item">标签34</li>
						<li class="select-item">标签555</li>
						<li class="select-item">标签666</li>
					</ul>
				</li>
			</ul>
			<div class="select-btn-box clearbox">
				<div class="select-btn select-confirm-btn">
					<span class="select-icon"><i class="material-icons">&#xE5CA;</i></span>
					<span class="btn-text">确定</span>
				</div>
				<div class="select-btn select-reset-btn">
					<span class="select-icon"><i class="material-icons">&#xE5D5;</i></span>
					<span class="btn-text">重置</span>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<a href="#" class="back-top"></a>
		<div class="about-us">
			<div class="about-left">
				<div class="about-title">
					<span class="title-big">联系我们</span>
					<span class="title-little">contact us</span>
				</div>
				<div class="about-dec">
					<span class="dec-text"><span class="dec-name">Success Career</span>是海内外大学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归就业和国际化人才服务的核心系统之一，助你斩获名企高薪Offer。</span>
				</div>
				<div class="about-phone">
					<i class="fa fa-phone" aria-hidden="true"></i>
					电话: (+86) 021-31336975
				</div>
				<div class="about-email">
					<i class="fa fa-envelope" aria-hidden="true"></i>
						mickeyge@knx.com.cn
				</div>
				<div class="about-address">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					地址: 上海长宁区虹桥路1438号古北财富二期16层
				</div>
				<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
			</div>
			<div class="about-right">
				<div class="right-box">
					<img src="../../Content/wisdom/img/erwei.png" alt="微信公众号" />
					<div class="right-dec">官方微信公众号：KNX_China</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="../../Scripts/wisdom/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/wisdom/lib/vue.min.js"></script>
	<script>
		
		$(function(){
			
			$("body").on("click",".back-top",function(event){
				$('body,html').animate({scrollTop:0},300);
			})
			
			$("body").on("click",".tag-cancel-btn",function(event){
				removeSelect();
				$(".flo-box").hide();
			})
			
			$("body").on("click",".add-tag-btn",function(event){
				$(".flo-box").show();
			})
			
			$("body").on("click",".select-confirm-btn",function(event){
				if($(".tag-item").length<=5){
					$(".resume-tag").append('<li class="tag-item">数据分析</li>');
				}
				$(".flo-box").hide();
			})
			
			$("body").on("click",".select-item",function(event){
				var oKey=$(this).hasClass("selected");
				if(oKey){
					$(this).removeClass("selected");
				}else{
					$(this).addClass("selected");
				}
			})
			
			$("body").on("click",".select-reset-btn",function(event){
				removeSelect();
			})
			
			function removeSelect(){
				var oList=$(".select-item");
				for(var i=0;i<oList.length;i++){
					if($(oList.eq(i).hasClass("selected"))){
						$(oList.eq(i).removeClass("selected"));
					}else{
						
					}
				}
			}
			
		})
	</script>
</body>
</html>
