<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>模板页</title>
		
		<!--公共头部-->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template.css?v=20171219" />
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- End -->
	    
	    <!--页面私有头部-->
	    <link rel="stylesheet" href="../../Content/lib/swiper-3.4.2.min.css" />
	    <link rel="stylesheet" href="../../Content/css/Index.css?v=20171204"/>
	    <!-- End -->
	    
	</head>
	<body>
		<!--页面公有结构-->
		<div class="container-fluid">
			
			<header class="row">
				<div class="row top-box top-width">
					<div class="top-logo"></div>
					<ul class="top-nav">
						<li class="top-nav-item"><a href="Index.html">首页</a></li>
						<li class="top-nav-item"><a href="PositionList.html">职位兴趣</a></li>
						<li class="top-nav-item"><a href="MyBackstage.html">我的职位</a></li>
						<li class="top-nav-item"><a href="MyBackstage.html">服务内容</a></li>
						<li class="top-nav-item"><a href="#">关于我们</a></li>
						<li class="top-nav-item login-register"><a href="#">注册/登录</a></li>
					</ul>
				</div>
			</header>
			<br>
			<br>
			<br>
			
			<!-- 页面私有结构 -->
			<div class="container-wrapper">
				<div class="banner" style="text-align:center;">banner</div>
				<section style="text-align:center;">页面内容</section>
			</div>
			<!-- End -->
			
			<br>
			<br>
			<br>
			<div class="flo" style="text-align:center;">公共浮动</div>
			<div class="lr" style="text-align:center;">公共注册登陆</div>
			<div class="dialog" style="text-align:center;">公共弹窗</div>
			
			<footer>
				<a href="#" class="back-top"></a>
				<div class="about-us">
					<div class="about-left">
						<div class="about-title">
							<span class="title-big">联系我们</span>
							<span class="title-little">contact us</span>
						</div>
						<div class="about-dec">
							<span class="dec-text"><span class="dec-name">Success Career</span>是海内外大学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归就业和国际化人才服务的核心系统之一，助你斩获名企高薪Offer。</span>
						</div>
						<div class="about-phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							电话: (+86) 021-31336975
						</div>
						<div class="about-email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
								mickeyge@knx.com.cn
						</div>
						<div class="about-address">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							地址: 上海长宁区虹桥路1438号古北财富二期16层
						</div>
						<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
					</div>
					<div class="about-right">
						<div class="right-box">
							<img src="../../Content/img/erwei.png" alt="微信公众号" />
							<div class="right-dec">官方微信公众号：KNX_China</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		
		<!-- End -->
		
	</body>
	
	<!-- 页面公有js依赖脚本 -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<!--页面公有功能js脚本-->
	<script src="../../Scripts/lib/Template.js"></script>
	
	<!-- End -->
	
	
	<!-- 页面私有js依赖脚本 -->
	<script src="../../Scripts/lib/swiper-3.4.2.jquery.min.js"></script>
	<!--页面公有功能js脚本-->
	<sctipt src="../../Scripts/lib/Index.js"></sctipt>
	
	<!-- End -->
</html>
