<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test</title>
		<style>
			*{
				margin:0;
				padding:0;
			}
			body,html{
				width:100%;
				height:100%;
			}
			body{
				width:100%;
				height:100%;
				background:url(../../Content/img/test.png)no-repeat center center;
				background-size:100% 100%;
			}
		</style>
	</head>
	<body>
		女：
		<i class="fa fa-venus" aria-hidden="true"></i>

		男：
		<i class="fa fa-mars" aria-hidden="true"></i>
		
		电话：
		<i class="fa fa-phone" aria-hidden="true"></i>

		邮件：
		<i class="fa fa-envelope" aria-hidden="true"></i>

		定位:
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		
		教育：
		<i class="material-icons">&#xE80C;</i>
		
		荣誉：
		<i class="material-icons">&#xE86E;</i>
		
		实习经历：
		<i class="material-icons">&#xE85D;</i>
		
		教育经历
		<i class="material-icons">&#xE8A3;</i>
		
		课外活动：
		<i class="material-icons">&#xE566;</i>

	</body>
</html>