<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>Index</title>
		
		<!-- Public Header -->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template.css?v=20171221"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Private Header -->
		<link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
		<link rel="stylesheet" href="../../Content/css/JobIndex.css?v=20171221"/>
		
	</head>
<body>
	<!--Page Public -->
	<div class="container-fluid">
		
		<!-- Top -->
		<header class="row">
			<div class="row top-box top-width">
				<div class="top-logo"></div>
				<ul class="top-nav">
					<li class="top-nav-item"><a href="../Home/Index.html">首页</a></li>
					<li class="top-nav-item"><a href="../Job/List.html">职位兴趣</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">我的职位</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">服务内容</a></li>
					<li class="top-nav-item"><a href="#">关于我们</a></li>
					<li class="top-nav-item login-register"><a href="#">注册/登录</a></li>
				</ul>
			</div>
		</header>
		
		<!--********************************************Private结构************************************-->
		<!-- Banner-->
		<div class="row top-banner">
			<div class="banner-content">
				<div class="company-name">上海肯耐珂萨人才服务股份有限公司</div>
				<div class="position-name">
					<span class="position-name-text">IT应用软件开发工程师</span>
					<span class="weixin-img"></span>
				</div>
				<ul class="position-tag">
					<li class="tag-item">研发类</li>
					<li class="tag-item">吃苦耐劳</li>
					<li class="tag-item">奉献精神</li>
				</ul>
				<div class="position-address">成都 | 上海</div>
				<div class="send-resume-btn">投递简历</div>
				
			</div>
		</div>
		<!-- Content -->
		<section class="row">
			<div class="content-box">
				<div class="position-box">
					<div class="position-left">
						<div class="msg-item">
							<div class="msg-icon"><i class="material-icons">&#xE885;</i></div>
							<div class="msg-title">职位诱惑：</div>
							<div class="msg-content">
								<div class="msg-text">扁平化管理、高成长互联网企业</div>
							</div>
						</div>
						<div class="msg-item">
							<div class="msg-icon"><i class="material-icons">&#xE150;</i></div>
							<div class="msg-title">职位描述：</div>
							<div class="msg-content">
								<div class="msg-text">
									1. 负责金融交易系统的开发及维护工作，定期完成量化的工作要求；
									<br>
									2. 负责功能模块的项目需求分析、设计、开发，配合测试人员对产品需求进行测试；
 									<br>
									3. 主动发现问题，提出合理化建议，积极优化项目开发手段；
 									<br>
									4. 能独立处理和解决所负责的任务，及时解决生产上的系统问题；
								</div>
							</div>
						</div>
						<div class="msg-item">
							<div class="msg-icon"><i class="material-icons">&#xE241;</i></div>
							<div class="msg-title">岗位要求：</div>
							<div class="msg-content">
								<div class="msg-text">
									1、3年以上工作经验，本科以上学历；
 									<br>
									2、具有良好的团队合作能力，沟通能力强，较强的责任心和抗压能力；
 									<br>
									3、Java基础扎实，熟练使用SpringMVC+mybatis/ibatis、SSH等主流JAVA框架，理解常用的设计模式；
 									<br>
									4、熟练使用Junit(或者其他)进行测试用例的编写；
 									<br>
									5、熟练掌握并使用mysql、oracle等数据库，并具有一定的SQL功底；
 									<br>
									6、熟练使用Linux系统常用命令；
 									<br>
									7、有实时高并发系统研发者优先；
									<br>
									8、对业内动态和发展方向有着敏锐的洞察力、并能够独立研究者优先；
									<br>
									9、有互联网金融行业、金融交易系统研发经验者优先；
									<br>
									10、身体健康，有良好的沟通表达能力和协调能力。
								</div>
							</div>
						</div>
						<div class="msg-item">
							<div class="msg-icon"><i class="material-icons">&#xE254;</i></div>
							<div class="msg-title">工作地址：</div>
							<div class="msg-content">
								<div class="msg-text">上海 - 徐汇区 - 漕宝路 - 桂平路391号Ａ座５楼（新漕河泾商务中心）</div>
							</div>
						</div>
					</div>
					<div class="position-right">
						<div class="degree-title">
							<span class="title-big">职位匹配度</span>
							<span class="title-little">认识自我</span>
						</div>
						<div id="indicatorContainer"></div>
						<div class="evaluation-btn">
							<span class="evaluation-text">完成测评获取精确匹配度</span>
						</div>
						<div class="course-recommend">
							<div class="recommend-title">
								<span class="title-big">职位匹配度</span>
								<span class="title-little">认识自我</span>
							</div>
							<ul class="course-list">
								<li class="course-item">
									<a href="">
										<img src="../../Content/img/course_01.png" alt="" />
										<div class="video-icon"></div>
										<div class="course-msg">
											<span class="course-name">课程课程课程课</span>
											<span class="course-num">1234在观看</span>
										</div>
									</a>
								</li>
								<li class="course-item">
									<a href="">
										<img src="../../Content/img/course_02.png" alt="" />
										<div class="video-icon"></div>
										<div class="course-msg">
											<span class="course-name">课程课程课程课</span>
											<span class="course-num">1234在观看</span>
										</div>
									</a>
								</li>
								<li class="course-item">
									<a href="">
										<img src="../../Content/img/course_03.png" alt="" />
										<div class="video-icon"></div>
										<div class="course-msg">
											<span class="course-name">课程课程课程课</span>
											<span class="course-num">1234在观看</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<div class="reply-box">
				<div class="reply-content">
					<div class="reply-area">
						<textarea placeholder="请输入您的评论"></textarea>
						<div class="reply-btn">发表</div>
					</div>
					<ul class="commend-list">
						<li class="commend-item">
							<img src="../../Content/img/flow_3.png" alt="评论" class="commend-head"/>
							<div class="commend-content">
								<div class="commend-name">_大利猫：</div>
								<div class="commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
								<div class="commend-date">2017-07-05 10:08:00</div>
								<div class="commend-item-reply-btn">回复</div>
							</div>
						</li>
						<li class="commend-item">
							<img src="../../Content/img/flow_2.png" alt="评论" class="commend-head"/>
							<div class="commend-content">
								<div class="commend-name">_大利猫：</div>
								<div class="commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
								<div class="commend-date">2017-07-05 10:08:00</div>
								<div class="commend-item-reply-btn">回复</div>
							</div>
							<div class="item-reply-area">
								<textarea placeholder="回复 _大利猫："></textarea>
								<div class="item-reply-area-btn">提交</div>
							</div>
							<div class="item-comend-box">
								<ul class="item-commend-list">
									<li class="item-commend-item">
										<img src="../../Content/img/flow_3.png" alt="评论" class="item-commend-head"/>
										<div class="item-commend-content">
											<div class="item-commend-name">_大利猫：</div>
											<div class="item-commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
											<div class="item-commend-date">2017-07-05 10:08:00</div>
										</div>
									</li>
									<li class="item-commend-item">
										<img src="../../Content/img/flow_3.png" alt="评论" class="item-commend-head"/>
										<div class="item-commend-content">
											<div class="item-commend-name">_大利猫：</div>
											<div class="item-commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
											<div class="item-commend-date">2017-07-05 10:08:00</div>
										</div>
									</li>
								</ul>
							</div>
							
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!--********************************************Private结构End*********************************-->
		
		<!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《Caree Success注册协议》</div>
							</div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">完善信息</div>
								<div class="lr-register-btn">直接注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bottom -->
		<footer class="row">
			<a href="#" class="back-top"></a>
			<div class="about-us">
				<div class="about-left">
					<div class="about-title">
						<span class="title-big">联系我们</span>
						<span class="title-little">contact us</span>
					</div>
					<div class="about-dec">
						<span class="dec-text"><span class="dec-name">Success Career</span>是海内外大学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归就业和国际化人才服务的核心系统之一，助你斩获名企高薪Offer。</span>
					</div>
					<div class="about-phone">
						<i class="fa fa-phone" aria-hidden="true"></i>
						电话: (+86) 021-31336975
					</div>
					<div class="about-email">
						<i class="fa fa-envelope" aria-hidden="true"></i>
							mickeyge@knx.com.cn
					</div>
					<div class="about-address">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						地址: 上海长宁区虹桥路1438号古北财富二期16层
					</div>
					<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
				</div>
				<div class="about-right">
					<div class="right-box">
						<img src="../../Content/img/erwei.png" alt="微信公众号" />
						<div class="right-dec">官方微信公众号：KNX_China</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	
	<!-- Public JS -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/js/Template.js?v=20171221"></script>
	
	<!-- Private JS -->
	<script src="../../Scripts/lib/radialIndicator.js"></script>
	<script src="../../Scripts/js/JobIndex.js?v=20171221"></script>
	
</body>
</html>
