<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>Index</title>
		
		<!-- Public Header -->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template.css?v=20171219"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Private Header -->
	    <link rel="stylesheet" href="../../Content/fontfamily/NotoSansCJKsc-Light.css" />
		<link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
	    <link rel="stylesheet" href="../../Content/lib/swiper-3.4.2.min.css" />
	    <link rel="stylesheet" href="../../Content/css/HomeIndex.css?v=20171221"/>
		
	</head>
<body>
	<!--Page Public -->
	<div class="container-fluid" id="app">
		
		<!-- Top -->
		<header class="row" id="top">
			<div class="row top-box top-width">
				<div class="top-logo"></div>
				<ul class="top-nav clearbox">
					<li class="top-nav-item"><a href="Index.html">首页</a></li>
					<li class="top-nav-item"><a href="../Assessment/Index.html">职位兴趣</a></li>
					<li class="top-nav-item"><a href="../Job/List.html">我的职位</a></li>
					<li class="top-nav-item"><a href="Serve.html">服务内容</a></li>
					<li class="top-nav-item"><a href="About.html">关于我们</a></li>
					<li class="top-nav-item login-register"><a href="#">注册/登录</a></li>
					<li class="top-nav-item lr-success">
						<img src="../../Content/img/head.png" class="success-img"/>
						<div class="backstage-entrance-container">
							<div class="backstage-entrance">
								<div class="entrance-wrapper">
									<div class="entrance-top clearbox">
										<img src="../../Content/img/head.png" class="entrance-img"/>
										<div class="entrance-name">Panda95</div>
										<div class="entrance-tag">数据分析&nbsp;&nbsp;数据分析&nbsp;&nbsp;吃苦耐劳 &nbsp;&nbsp;IT行业&nbsp;&nbsp;IT行业IT行业&nbsp;&nbsp;</div>
									</div>
									<ul class="entrance-href-box clearbox">
										<li class="entrance-href-item"><a href="../Resume/Index.html">收藏职位</a></li>
										<li class="entrance-href-item"><a href="../Resume/Index.html">投递职位</a></li>
										<li class="entrance-href-item"><a href="../Resume/Index.html">有关留言</a></li>
										<li class="entrance-href-item"><a href="../Resume/Index.html">我的测评</a></li>
										<li class="entrance-href-item"><a href="../Resume/Index.html">我的简历</a></li>
									</ul>
									<div class="entrance-back-btn login-exit">安全退出</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</header>
		
		
		<!--********************************************Page Private************************************-->
		<!-- Banner-->
		<div class="row top-banner" >
			<div class="search-wrapper">
				<div class="row top-search">
					<input type="text" class="search-box" placeholder="请输入您意向工作城市"/>
					<div class="search-btn">搜索</div>
				</div>
				<ul class="row search-hot-wrapper">
					<li class="search-hot-item">上海 </li>
					<li class="search-hot-item">广州</li>
					<li class="search-hot-item">深圳</li>
					<li class="search-hot-item">北京</li>
					<li class="search-hot-item">苏州</li>
					<li class="search-hot-item">长沙</li>
					<li class="search-hot-item">武汉</li>
					<li class="search-hot-item">上海</li>
					<li class="search-hot-item">广州</li>
					<li class="search-hot-item">深圳</li>
					<li class="search-hot-item">北京</li>
					<li class="search-hot-item">苏州</li>
					<li class="search-hot-item">长沙</li>
					<li class="search-hot-item">武汉</li>
					<li class="search-hot-item">苏州</li>
					<li class="search-hot-item">武汉</li>
					<li class="search-hot-item">苏州</li>
				</ul>
			</div>
			<div class="row top-width top-title">Career Success</div>
			<div class="row top-width top-msg">海归留学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归实习就业和国际化人才的全程一站式服务，助你斩获名企高薪Offer。 </div>
			<div class="row top-video-wrapper">
				<img src="../../Content/img/banner_1.png" alt="视频" class="video-img"/>
				<div class="video-flo"></div>
				<div class="video-btn"></div>
				<div class="video-msg">您也有过类似的求职经历吗，进来看看先…</div>
			</div>
			<div class="top-begin-btn">开始测评</div>
			<div class="row top-width top-evaluation">
				<span class="top-evaluation-btn">
					<span>无从下手？</span>
					<span class="yellow">就业能力测评</span>
					<span>帮您推荐职位</span>
					<!--<span class="evaluation-arrow"></span>-->
				</span>
			</div>
		</div>
		<!-- Content -->
		<section class="row">
			
			<!-- 套餐栏目 -->
			<ul class="meal-box">
				<li class="meal-item">
					<a href="">
						<div class="meal-show">
							<img src="../../Content/img/meal_1.png" alt="套餐2" />
							<div class="meal-show-title overflow-text">启航套餐</div>
							<div class="meal-show-msg">我的赋能餐：好工作不裸上</div>
						</div>
						<div class="meal-view">
							<div class="meal-view-title">启航套餐</div>
							<div class="meal-view-line"></div>
							<div class="meal-view-msg">快速认知自我就业能力，完善职业发展规划，获得名师培养，图稿单身狗的发光飞碟市场竞争力。</div>
							<div class="meal-view-btn">了解详情</div>
						</div>
					</a>
				</li>
				<li class="meal-item">
					<a href="">
						<div class="meal-show">
							<img src="../../Content/img/meal_2.png" alt="套餐2" />
							<div class="meal-show-title overflow-text">远航套餐</div>
							<div class="meal-show-msg">我的面试餐：好工作面对面</div>
						</div>
						<div class="meal-view">
							<div class="meal-view-title">远航套餐</div>
							<div class="meal-view-line"></div>
							<div class="meal-view-msg">提供3次求职面试机会，和HR0距离，双方择优录取</div>
							<div class="meal-view-btn">了解详情</div>
						</div>
					</a>
				</li>
				<li class="meal-item">
					<a href="">
						<div class="meal-show">
							<img src="../../Content/img/meal_3.png" alt="套餐2" />
							<div class="meal-show-title overflow-text">线下活动预告</div>
							<div class="meal-show-msg">2018直播课</div>
						</div>
						<div class="meal-view">
							<div class="meal-view-title">线下活动预告</div>
							<div class="meal-view-line"></div>
							<div class="meal-view-msg">我的直播：不定期提供归国实习就业干货，你想成为分享嘉宾吗，虚位以待等你来</div>
							<div class="meal-view-btn">了解详情</div>
						</div>
					</a>
				</li>
				<li class="meal-item">
					<a href="">
						<div class="meal-show">
							<img src="../../Content/img/meal_4.png" alt="套餐2" />
							<div class="meal-show-title overflow-text">线下活动预告</div>
							<div class="meal-show-msg">2018求职沙龙</div>
						</div>
						<div class="meal-view">
							<div class="meal-view-title">线下活动预告</div>
							<div class="meal-view-line"></div>
							<div class="meal-view-msg">我的沙龙：不定期提供归国实习就业沙龙，欢迎报名、评论、点赞，总有一款你喜欢的</div>
							<div class="meal-view-btn">了解详情</div>
						</div>
					</a>
				</li>
			</ul>
			
			<!-- 服务内容 -->
			<div class="row serve-content">
				<div class="serve-content-title module-title">服务内容</div>
				<div class="serve-content-msg module-msg">以人才为桥梁，链接企业根本需求，实现企业与国际化人才的双赢</div>
				<ul class="serve-content-wrapper clearbox">
					<li class="serve-content-item">
						<div class="item-title">职业雷达站</div>
						<div class="item-msg">锁定目标行业，聚焦心仪岗位，各个击破，精准赋能。</div>
					</li>
					<li class="serve-content-item">
						<div class="item-title">求职加油站</div>
						<div class="item-msg">锁定目标行业，聚焦心仪岗位，各个击破，精准赋能。</div>
					</li>
					<li class="serve-content-item">
						<div class="item-title">职场达人堂</div>
						<div class="item-msg">真人真事真经验，进堂上座听分享。</div>
					</li>
					<li class="serve-content-item">
						<div class="item-title">职位面对面</div>
						<div class="item-msg">快速提供个性画像，意向不到的惊喜体验。</div>
					</li>
				</ul>
				<div class="wave-flo"></div>
			</div>
			
			<!-- 推荐职位  -->
			<div class="row recommend-position">
				<div class="recommend-position-title module-title">推荐职位</div>
				<div class="recommend-position-msg module-msg">从零到卓越，全流程专业化求职，一站式服务留学生</div>
				<div class="position-box">
					<div class="position-title">
						<span class="position-title-company">公司</span>
						<span class="position-title-message">职位信息</span>
						<span class="position-title-degree">匹配度</span>
					</div>
					<ul class="position-list">
						<li class="position-item">
							<div class="position-company-img">
								<img src="../../Content/img/ms.png" alt="公司" />
							</div>
							<div class="position-top">
								<span class="position-top-name overflow-text">IT应用软件开发工程师</span>
								<ul class="position-tag-list">
									<li class="position-tag-item">研发类</li>
									<li class="position-tag-item">吃苦耐劳</li>
									<li class="position-tag-item">奉献精神</li>
								</ul>
							</div>
							<div class="position-bottom">
								<span class="position-company-name">华为技术有限公司</span>
								<ul class="position-site-list">
									<li class="position-site-item">上海&nbsp;|&nbsp;</li>
									<li class="position-site-item">成都&nbsp;|&nbsp;</li>
									<li class="position-site-item">大连</li>
								</ul>
							</div>
							<div class="position-degree">68%</div>
							<div class="position-operation">
								<span class="like-box operation-box" status="gray">
									<span class="like-icon operation-icon"><i class="material-icons">&#xE87D;</i></span>
									<span class="like-num operation-num">3223</span>
								</span>
								<span class="comment-box operation-box">
									<span class="comment-icon operation-icon"><i class="material-icons">&#xE0CA;</i></span>
									<span class="comment-num operation-num">234234</span>
								</span>
								<span class="share-box operation-box">
									<span class="share-icon operation-icon"><i class="material-icons">&#xE80D;</i></span>
									<span class="share-num operation-num">234234</span>
								</span>
							</div>
							<ul class="commend-list">
								<li class="commend-item">
									<img src="../../Content/img/flow_3.png" alt="评论" class="commend-head"/>
									<div class="commend-content">
										<div class="commend-name">_大利猫：</div>
										<div class="commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
										<div class="commend-date">2017-07-05 10:08:00</div>
									</div>
								</li>
								<li class="commend-item">
									<img src="../../Content/img/flow_2.png" alt="评论" class="commend-head"/>
									<div class="commend-content">
										<div class="commend-name">_大利猫：</div>
										<div class="commend-text">作为一名研发人员，我们无法把控产品的战略方向和命运，唯一能做的就是把代码写成诗，每一个版本都是一篇有鉴赏价值的文章，尽量做出一些技术亮点。</div>
										<div class="commend-date">2017-07-05 10:08:00</div>
									</div>
								</li>
							</ul>
							<div class="add-more-commend">点击展开后面<span class="commend-format-num">11</span>条回复</div>
							<div class="commend-reply-box">
								<img src="../../Content/img/head.png" class="commend-reply-head"/>
								<div class="commend-reply-content">
									<div class="commend-reply-name">Pos_Away：</div>
									<textarea></textarea>
									<div class="commend-reply-btn">提交</div>
								</div>
							</div>
						</li>
						<li class="position-item">
							<div class="position-company-img">
								<img src="../../Content/img/flow_1.png" alt="公司" />
							</div>
							<div class="position-top">
								<span class="position-top-name overflow-text">IT应用软件开发工程师</span>
								<ul class="position-tag-list">
									<li class="position-tag-item">研发类</li>
									<li class="position-tag-item">吃苦耐劳</li>
									<li class="position-tag-item">奉献精神</li>
								</ul>
							</div>
							<div class="position-bottom">
								<span class="position-company-name">华为技术有限公司</span>
								<ul class="position-site-list">
									<li class="position-site-item">上海&nbsp;|&nbsp;</li>
									<li class="position-site-item">成都&nbsp;|&nbsp;</li>
									<li class="position-site-item">大连</li>
								</ul>
							</div>
							<div class="position-degree">68%</div>
							<div class="position-operation">
								<span class="like-box operation-box" status="gray">
									<span class="like-icon operation-icon"><i class="material-icons">&#xE87D;</i></span>
									<span class="like-num operation-num">3223</span>
								</span>
								<span class="comment-box operation-box">
									<span class="comment-icon operation-icon"><i class="material-icons">&#xE0CA;</i></span>
									<span class="comment-num operation-num">234234</span>
								</span>
								<span class="share-box operation-box">
									<span class="share-icon operation-icon"><i class="material-icons">&#xE80D;</i></span>
									<span class="share-num operation-num">234234</span>
								</span>
							</div>
						</li>
						<li class="position-item">
							<div class="position-company-img">
								<img src="../../Content/img/flow_2.png" alt="公司" />
							</div>
							<div class="position-top">
								<span class="position-top-name overflow-text">IT应用软件开发工程师</span>
								<ul class="position-tag-list">
									<li class="position-tag-item">研发类</li>
									<li class="position-tag-item">吃苦耐劳</li>
									<li class="position-tag-item">奉献精神</li>
								</ul>
							</div>
							<div class="position-bottom">
								<span class="position-company-name">华为技术有限公司</span>
								<ul class="position-site-list">
									<li class="position-site-item">上海&nbsp;|&nbsp;</li>
									<li class="position-site-item">成都&nbsp;|&nbsp;</li>
									<li class="position-site-item">大连</li>
								</ul>
							</div>
							<div class="position-degree">68%</div>
							<div class="position-operation">
								<span class="like-box operation-box" status="gray">
									<span class="like-icon operation-icon"><i class="material-icons">&#xE87D;</i></span>
									<span class="like-num operation-num">3223</span>
								</span>
								<span class="comment-box operation-box">
									<span class="comment-icon operation-icon"><i class="material-icons">&#xE0CA;</i></span>
									<span class="comment-num operation-num">234234</span>
								</span>
								<span class="share-box operation-box">
									<span class="share-icon operation-icon"><i class="material-icons">&#xE80D;</i></span>
									<span class="share-num operation-num">234234</span>
								</span>
							</div>
						</li>
						<li class="position-item">
							<div class="position-company-img">
								<img src="../../Content/img/meal_3.png" alt="公司" />
							</div>
							<div class="position-top">
								<span class="position-top-name overflow-text">IT应用软件开发工程师</span>
								<ul class="position-tag-list">
									<li class="position-tag-item">研发类</li>
									<li class="position-tag-item">吃苦耐劳</li>
									<li class="position-tag-item">奉献精神</li>
								</ul>
							</div>
							<div class="position-bottom">
								<span class="position-company-name">华为技术有限公司</span>
								<ul class="position-site-list">
									<li class="position-site-item">上海&nbsp;|&nbsp;</li>
									<li class="position-site-item">成都&nbsp;|&nbsp;</li>
									<li class="position-site-item">大连</li>
								</ul>
							</div>
							<div class="position-degree">68%</div>
							<div class="position-operation">
								<span class="like-box operation-box" status="gray">
									<span class="like-icon operation-icon"><i class="material-icons">&#xE87D;</i></span>
									<span class="like-num operation-num">3223</span>
								</span>
								<span class="comment-box operation-box">
									<span class="comment-icon operation-icon"><i class="material-icons">&#xE0CA;</i></span>
									<span class="comment-num operation-num">234234</span>
								</span>
								<span class="share-box operation-box">
									<span class="share-icon operation-icon"><i class="material-icons">&#xE80D;</i></span>
									<span class="share-num operation-num">234234</span>
								</span>
							</div>
						</li>
						<li class="position-item">
							<div class="position-company-img">
								<img src="../../Content/img/head.png" alt="公司" />
							</div>
							<div class="position-top">
								<span class="position-top-name overflow-text">IT应用软件开发工程师IT应用软件开发工程师IT应用软件开发工程师IT应用软件开发工程师</span>
								<ul class="position-tag-list">
									<li class="position-tag-item">研发类</li>
									<li class="position-tag-item">吃苦耐劳</li>
									<li class="position-tag-item">奉献精神</li>
									<li class="position-tag-item">爱岗敬业</li>
									<li class="position-tag-item">追求卓越</li>
									<li class="position-tag-item">追求卓越</li>
								</ul>
							</div>
							<div class="position-bottom">
								<span class="position-company-name">华为技术有限公司</span>
								<ul class="position-site-list">
									<li class="position-site-item">上海&nbsp;|&nbsp;</li>
									<li class="position-site-item">成都&nbsp;|&nbsp;</li>
									<li class="position-site-item">大连</li>
								</ul>
							</div>
							<div class="position-degree">100%</div>
							<div class="position-operation">
								<span class="like-box operation-box" status="gray">
									<span class="like-icon operation-icon"><i class="material-icons">&#xE87D;</i></span>
									<span class="like-num operation-num">3223</span>
								</span>
								<span class="comment-box operation-box">
									<span class="comment-icon operation-icon"><i class="material-icons">&#xE0CA;</i></span>
									<span class="comment-num operation-num">234234</span>
								</span>
								<span class="share-box operation-box">
									<span class="share-icon operation-icon"><i class="material-icons">&#xE80D;</i></span>
									<span class="share-num operation-num">234234</span>
								</span>
							</div>
						</li>
					</ul>
					<div class="add-more-btn">查看更多职位</div>
				</div>
			</div>
			
			<!--专家团队-->
			<div class="row team">
				<div class="team-box">
					<div class="team-title">我们的专家团队</div>
					<ul class="team-dec-box clearbox">
						<li class="team-dec-item">
							<img src="../../Content/img/team_icon01.png" alt="描述一" />
							<div class="item-content">
								<div class="item-title">最全面的行业名企覆盖</div>
								<div class="item-dec">投行/银行/互联网公司/....你耳熟能详的名企，行业专家为你提供一对一辅导</div>
							</div>
						</li>
						<li class="team-dec-item">
							<img src="../../Content/img/team_icon02.png" alt="描述一" />
							<div class="item-content">
								<div class="item-title">最实用的求职技能辅导</div>
								<div class="item-dec">模拟面试、行业技能、内部推荐、案例分析...，杜绝一切假大空，专家只讲行业FAQ</div>
							</div>
						</li>
						<li class="team-dec-item">
							<img src="../../Content/img/team_icon03.png" alt="描述一" />
							<div class="item-content">
								<div class="item-title">最深度的岗位知识分享</div>
								<div class="item-dec">无论你希望从事什么岗位工作，我们的专家都将给你深度解析岗位的工作日常与前景</div>
							</div>
						</li>
					</ul>
					<div class="member-box swiper-container1">
						<ul class="member-list swiper-wrapper">
							<li class="member-item swiper-slide">
								<div class="item-left">
									<img src="../../Content/img/head01.png" alt="团队" />
									<div class="view-all-btn">查看所有专家</div>
								</div>
								<div class="item-right">
									<div class="item-title">肯耐珂萨董事常务副总裁兼合伙人</div>
									<div class="item-name">Ellen Sun</div>
									<ul class="item-msg">
										<li class="msg-item">现任肯耐珂萨董事常务副总裁兼合伙人，全权负责中国招聘事业部，包括招聘流程外部业务和高端猎头服务。1998年开始从事高端猎头行业。</li>
										<li class="msg-item">服务客户：欧莱雅、联合利华、花旗银行、通用汽车、法国巴黎银行、平安集团等国内外知名企业。</li>
										<li class="msg-item">擅长领域：金融和消费品行业。为客户成功的在中国，香港，新加坡，美国，德国等地引进1000多位高端候选人。</li>
									</ul>
								</div>
							</li>
							<li class="member-item swiper-slide">
								<div class="item-left">
									<img src="../../Content/img/head02.png" alt="团队" />
									<div class="view-all-btn">查看所有专家</div>
								</div>
								<div class="item-right">
									<div class="item-title">肯耐珂萨研究院执行院长</div>
									<div class="item-name">Rengen Li</div>
									<ul class="item-msg">
										<li class="msg-item">原可口可乐大学（中国）创办人（1995-1999）,原可口可乐公司全球领导力发展总监（2010-2014）</li>
										<li class="msg-item">印地安那大学理学硕士（教学技术学）,弗罗里达州大学哲学博士（教学系统）,乔治亚州大学EMBA</li>
										<li class="msg-item">擅长领域：多文化领导力、情商领导力、全脑思维领导力、领导力发展 组织与人才发展等。</li>
									</ul>
								</div>
							</li>
							<li class="member-item swiper-slide">
								<div class="item-left">
									<img src="../../Content/img/head01.png" alt="团队" />
									<div class="view-all-btn">查看所有专家</div>
								</div>
								<div class="item-right">
									<div class="item-title">肯耐珂萨内容产品研究院产品总监</div>
									<div class="item-name">Icey Han</div>
									<ul class="item-msg">
										<li class="msg-item">南开大学应用心理学硕士，武汉大学管理学&amp;法学双学士，人力资源管理师，二级心理咨询师。</li>
										<li class="msg-item">服务客户：复星集团、亨通国际、上海大众、景瑞地产、华住集团、优衣库、亨得利、卡西欧等。</li>
										<li class="msg-item">擅长领域：人力资源管理实践，对培训与开发、企业文化建设、人才测评、选拔及发展等人资模块有较为深入的理论研究和实践方法。</li>
									</ul>
								</div>
							</li>
							<li class="member-item swiper-slide">
								<div class="item-left">
									<img src="../../Content/img/head02.png" alt="团队" />
									<div class="view-all-btn">查看所有专家</div>
								</div>
								<div class="item-right">
									<div class="item-title">肯耐珂萨招聘流程外包运营总监</div>
									<div class="item-name">Clara Chen</div>
									<ul class="item-msg">
										<li class="msg-item">现任肯耐珂萨招聘流程外包运营总监，肯耐珂萨认证讲师，资深招聘专家。</li>
										<li class="msg-item">15年人力资源服务行业，包括招聘，培训，绩效，薪酬福利。其中超过10年高管搜寻及人力资源外包服务项目经验。</li>
										<li class="msg-item">服务客户：渣打银行，汇丰银行，通用电气，耐克，空气产品，利乐包装，波士顿科学，柯惠医疗等。</li>
										<li class="msg-item">擅长领域：招聘流程管理、招聘技能 培训、项目管理。</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<!-- 导航按钮 -->
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
			
			<!-- 成功案例 -->
			<div class="row case">
				<div class="case-title module-title">我们的成功案例</div>
				<div class="case-msg module-msg">成就学员是我们的使命，学员的认可是我的前进动力</div>
				<div class="case-list-box">
					<div class="case-list-content">
						<div class="add-more-case">查看更多</div>
						<ul class="case-list">
							<li class="case-item">
								<ul>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case01.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											伦敦大学市场营销毕业，作为一个在英国攻读的商科本科生，并不十分清楚国内哪些企业能有很好的发展，整个求职就业过程是CareerSuccess的专家耐心的辅导。他们给我安排的导师是直接在3M工作的HR经理。在进入公司面试前的mock interview十分重要，HRM引导和解答我每一个可能的问题，注意每一个沟通表达的细节，挖掘我的职业优势，受益匪浅也很感谢他们！！
										</div>
									</li>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case02.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											悉尼大学Accounting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还是与国内的就业行情脱节，对回国能做什么基展顾问的电话时，我才慢慢意识到出国留学四年感觉还是与国内的就业行情脱节，对回国能做什么基展顾问的电话时，我才慢慢意识到出国留学四年感觉还是与国内的就业行情脱节，对回国能做什么基展顾问的电话时，我才慢慢意识到出国留学四年感觉还是与国内的就业行情脱节，对回国能做什么基本处于懵逼状态。特别感谢CareerSuccess导师帮助我走过这段痛并快乐的求职过程。他们不厌其烦的帮我分析测评能力模型、测评报告解读、线上微课程学习、修改简历、模拟面试提出学习改进行动计划。我顺利的拿到了普华永道时候所审计方向的offer，希望继续可以发展顺利吧，加油！
										</div>
									</li>
								</ul>
							</li>
							<li class="case-item">
								<ul>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case01.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											伦敦大学市场营销毕业，作沟通表达的细销毕业，作沟通表达的细销毕业，作沟通表达的细节，挖掘我的职业优势，受益匪浅也很感谢他们！！
										</div>
									</li>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case02.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											悉尼大学Accounting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢nting专业，当接到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留程学习、修改简历、模拟面试提出学习改进行动计划。我顺利的拿到了普华永道时候所审计方向的offer，希望继续可以发展顺利吧，加油！
										</div>
									</li>
								</ul>
							</li>
							<li class="case-item">
								<ul>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case01.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											伦敦大学市场营销毕业，作为一个在英国攻读的商科本科生，并不十分清楚国内哪些企业能有很好的发展，整个求职就业过程是CareerSuccess的专家耐心的辅导。他们给我安排的导师是直接在3M工作的HR经理。在进入公司面试前的mock interview十分重要，HRM引导和解答我每一个可能的问题，注意每一个沟通表达的细节，挖掘我的职业优势，受益匪浅也很感谢他们！！
										</div>
									</li>
									<li>
										<div class="item-top">
											<img src="../../Content/img/case02.png" alt="案例" />
											<div class="item-top-msg">
												<div class="msg-name">Lee Li</div>
												<div class="msg-address">University of London</div>
												<div class="msg-position blue">3M | 销售经理助理</div>
											</div>
										</div>
										<div class="item-dec">
											悉尼大学A慢意识出国留到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还识出国留到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还识出国留到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还识出国留到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还识出国留到CareerSuccess职业发展顾问的电话时，我才慢慢意识到出国留学四年感觉还是与国内的就业行情脱节，对回国能做什么基本处于懵逼状态。特别感谢CareerSuccess导师帮助我走过这段痛并快乐的求职过程。他们不厌其烦的帮我分析测评能力模型、测评报告解读、线上微课程学习、修改简历、模拟面试提出学习改进行动计划。我顺利的拿到了普华永道时候所审计方向的offer，希望继续可以发展顺利吧，加油！
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row cooperation">
				<div class="cooperation-title module-title">我们的合作企业</div>
				<div class="cooperation-msg module-msg">假文字假文字假文字假文字假文字假MJLQ2CH/A文字假文字假文字假文字假文字</div>
				<div class="cooperation-box swiper-container2">
					<ul class="company-list swiper-wrapper">
						<li class="company-list-item swiper-slide">
							<ul class="list-content">
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/dazhong_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/dazhong_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/dazhong_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/pwc_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/taikang_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/tengmen_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/kws_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/lijinji_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box little">
										<img src="../../Content/img/dun_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/dazhong_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/pwc_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/gen_logo.png" alt="dazhong" />
									</div>
								</li>
							</ul>
						</li>
						<li class="company-list-item swiper-slide">
							<ul class="list-content">
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/tengmen_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/kws_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/lijinji_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box little">
										<img src="../../Content/img/dun_logo.png" alt="dazhong" />
									</div>
								</li>
								<li class="company-item">
									<div class="company-item-box">
										<img src="../../Content/img/dazhong_logo.png" alt="dazhong" />
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- 分页器 -->
				<div class="swiper-pagination2"></div>
			</div>
		</section>
		<!-- aside -->
		<aside>
			<div class="aside-container">
				<a class="aside-btn back-top-btn"></a>
				<div class="aside-btn consult-btn">
					<div class="consult-msg">联系求职顾问</div>
					<div class="consult-type">
						<span class="consult-text">扫描二维码拉巴拉巴拉巴拉巴</span>
						<img src="../../Content/img/erwei.png" class="consult-img"/>
					</div>
				</div>
			</div>
		</aside>
		
		<!--视频播放窗口-->
		<div class="video-container">
			<div class="video-wrapper">
				<div id="player"></div>
				<div class="video-cancel-btn"></div>
			</div>
		</div>
		
		<!--********************************************Page Private End*********************************-->
		
		<!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《Caree Success注册协议》</div>
							</div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">登录</div>
								<div class="lr-register-btn">直接注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bottom -->
		<footer class="row">
			<a href="#" class="back-top"></a>
			<div class="about-us">
				<div class="about-left">
					<div class="about-title">
						<span class="title-big">联系我们</span>
						<span class="title-little">contact us</span>
					</div>
					<div class="about-dec">
						<span class="dec-text"><span class="dec-name">Success Career</span>是海内外大学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归就业和国际化人才服务的核心系统之一，助你斩获名企高薪Offer。</span>
					</div>
					<div class="about-phone">
						<i class="fa fa-phone" aria-hidden="true"></i>
						电话: (+86) 021-31336975
					</div>
					<div class="about-email">
						<i class="fa fa-envelope" aria-hidden="true"></i>
							mickeyge@knx.com.cn
					</div>
					<div class="about-address">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						地址: 上海长宁区虹桥路1438号古北财富二期16层
					</div>
					<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
				</div>
				<div class="about-right">
					<div class="right-box">
						<img src="../../Content/img/erwei.png" alt="微信公众号" />
						<div class="right-dec">官方微信公众号：KNX_China</div>
					</div>
				</div>
			</div>
		</footer>
		
	</div>
	
	<!-- Public JS -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/js/Template.js?v=20171221"></script>
	
	<!-- Private JS -->
	<script src="../../Scripts/lib/umplayer.min.js"></script>
	<script src="../../Scripts/lib/swiper-3.4.2.jquery.min.js"></script>
	<script src="../../Scripts/js/HomeIndex.js?v=20171221"></script>
	
</body>
</html>
