/******************************初始化公共样式****************************/
@charset "utf-8";
*{
	padding:0;
	margin:0;
}
html,
body{
	min-width:1220px;
	margin:0;
	padding:0;
	border: 0;
	font-family:"Microsoft YaHei","微软雅黑","PingFang SC","Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	display:block;
	position:relative;
}

.clearfix{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	*zoom:1;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

a{
    text-decoration: none; 
}

a:link,
a:active,
a:visited,
a:hover{
	text-decoration:none;
}

.container-fluid {
  	padding:0;
}

.row{
	margin:0;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
	padding:0;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
	padding:0;
}

.overflow-text{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.yellow{
	color:#ffbf00;
}

.red{
	color:#ee5c54;
}

.blue{
	color:#0099e5;
}

/***************************头部banner***********************/

header{
	height:820px;
	background:url(../img/banner_1.png)no-repeat center center;
	background-size:cover;
}

header .top-width{
	width:1200px;
	margin:0 auto;
}

header .top-box{
	height:45px;
	margin-top:32px;
}

.top-box .top-logo{
	width:158px;
	height:26px;
	float:left;
	margin-left:10px;
	margin-top:8px;
	background:url(../img/logo.png)no-repeat center center;
	background-size:cover;
}

.top-box .top-nav{
	width:600px;
	height:100%;
	float:right;
	margin-right:5px;
}

.top-box .top-nav .top-nav-item{
	height:100%;
	position:relative;
	float:left;
	margin-left:45px;
	line-height:45px;
	cursor:pointer;
}

.top-box .top-nav .top-nav-item a{
	font-family: NotoSansCJKsc;
	font-size:16px;
	color:#fff;
	position:relative;
}

.top-box .top-nav .login-register{
	padding:0 30px;
	border:1px solid #fff;
	border-radius:23px;
}

.top-box .top-nav .top-nav-item a::after{
	display:none;
	content:"";
	width:100%;
	height:2px;
	position:absolute;
	bottom:-20px;
	left:0;
	background:#ffbf00;
}

.top-box .top-nav .login-register a::after{
	display:none;
	content:"";
	height:0;
	width:0;
}
.top-box .top-nav .top-nav-item:hover a::after{
	display:block;
}

header .top-title{
	margin-top:170px;
	line-height:70px;
	font-family: NotoSansCJKsc;
  	font-size: 48px;
  	text-align: left;
  	color: #fff;
}

header .top-msg{
	margin-top:35px;
	padding-right:550px;
	line-height:33px;
	font-family: NotoSansCJKsc;
	font-size: 22px;
  	text-align: left;
  	color: #fff;
  	opacity:0.8;
}

header .top-search{
	height:45px;
	margin-top:45px;
	padding-right:658px;
	line-height:45px;
}

header .top-search .search-box{
	width:450px;
	float:left;
}

header .top-search .search-box .search-item{
	width:150px;
	height:45px;
	position:relative;
	float:left;
	padding-left:15px;
	line-height:45px;
	background-color: #fff;
  	box-shadow: 0 0 1px 0 rgba(168, 168, 168, 0.5);
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #8896a7;
  	cursor:pointer;
}

header .top-search .search-box .search-item::after{
	content:"";
	width:7px;
	height:7px;
	border-left:1px solid #8896a7;
	border-bottom:1px solid #8896a7;
	position:absolute;
	top:18px;
	right:15px;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

header .search-btn{
	width: 92px;
  	height: 45px;
  	float:right;
  	line-height:45px;
  	background-color: #ffbf00;
  	box-shadow: 2px 2px 15px 0 #989898;
  	font-family: NotoSansCJKsc;
  	font-size: 16px;
  	text-align: center;
  	color: #fff;
  	cursor:pointer;
}

header .top-evaluation{
	margin-top:10px;
}

header .top-evaluation .top-evaluation-btn{
	display:inline-block;
	line-height:24px;
	font-family: NotoSansCJKsc;
  	font-size: 16px;
  	text-align: left;
  	color: #fff;
  	cursor:pointer;
}

header .top-evaluation .top-evaluation-btn span{
	float:left;
	position:relative;
	vertical-align:midden;
}

header .top-evaluation .top-evaluation-btn .evaluation-arrow{
	margin-top:4px;
	margin-left:4px;
	width:18px;
	height:18px;
	border:1px solid #fff;
	border-radius:100px;
}

header .top-evaluation .top-evaluation-btn .evaluation-arrow::before{
	content:"";
	position:absolute;
	top:7px;
	left:3px;
	width:8px;
	height:1px;
	background:#fff;
	
}
header .top-evaluation .top-evaluation-btn .evaluation-arrow::after{
	content:"";
	position:absolute;
	top:5px;
	left:7px;
	width:5px;
	height:5px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}


/***************************中间内容区content***********************/
section{
	position:relative;
}

section .meal-box{
	position:absolute;
	top:-130px;
	left:50%;
	margin-left:-600px;
	width:1200px;
	height:260px;
	background-color:#fff;
	box-shadow: 0 2px 10px 0 #e9e9e9;
	z-index:10;
}

section .meal-box .meal-item{
	float:left;
	display:block;
	width:300px;
	height:100%;
	border-left:2px solid #ececec;
}

section .meal-box .meal-item:nth(4n){
	border:none;
}

section .flow-standard{
	height:816px;
	background-color:#f1f5f9;
}

.meal-item a{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}

.meal-item a .meal-show{
	display:block;
	width:100%;
	height:100%;
	
	transition:all 0.6s;
	-moz-transition:all 0.6s;	/* Firefox 4 */
	-webkit-transition:all 0.6s;	/* Safari 和 Chrome */
	-o-transition:all 0.6s;	/* Opera */
}

.meal-item a .meal-view{
	display:block;
	width:100%;
	height:100%;
}

.meal-item a:hover .meal-show{
	margin-top:-260px;
}

.meal-item a .meal-view .meal-view-title{
	padding-top:45px;
	font-family: NotoSansCJKsc;
  	font-size: 26px;
  	text-align: center;
  	color: #333;
}

.meal-item a .meal-view .meal-view-line{
	margin:0 auto;
	margin-top:15px;
	width: 40px;
  	height:0px;
  	border-style: solid;
  	border-width:2px;
  	
  border-image-source: -webkit-gradient(linear, 100% 0, 0 0, from(#92e6ff), to(#55adf0));
  border-image-source: -webkit-linear-gradient(to right, #92e6ff, #55adf0);
  border-image-source: -moz-linear-gradient(to right, #92e6ff, #55adf0);
  border-image-source: -o-linear-gradient(to right, #92e6ff, #55adf0);
  border-image-source: linear-gradient(to right, #92e6ff, #55adf0);
  	border-image-slice: 1;
}

.meal-item a .meal-view .meal-view-msg{
	margin-top:15px;
	padding:0 30px;
	width:100%;
	height:60px;
	line-height:20px;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: center;
  	color: #6d6d6d;
}

.meal-item a .meal-view .meal-view-btn{
	margin:0 auto;
	margin-top:15px;
	width: 120px;
  	height: 35px;
  	line-height:35px;
  	border-radius: 20px;
  	background-color: #55adef;
  	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: center;
  	color: #fff;
  	cursor:pointer;
}

.meal-item a .meal-show img{
	display:block;
	width:60px;
	margin:0 auto;
	padding-top:60px;
}

.meal-item a .meal-show .meal-show-title{
	display:block;
	margin:0 auto;
	padding:0 10px;
	margin-top:20px;
	width:100%;
	font-family: NotoSansCJKsc;
  	font-size: 22px;
  	text-align: center;
  	color: #333333;
}

.meal-item a .meal-show .meal-show-msg{
	display:block;
	margin:0 auto;
	padding:0 30px;
	margin-top:5px;
	width:100%;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: center;
  	color: #939393;
}


section .module-title{
	padding-top:60px;
	font-family: PingFangSC;
  	font-size: 34px;
  	letter-spacing: 2.4px;
  	text-align: center;
  	color: #0099e5;
}

section .module-msg{
	padding-top:10px;
	font-family: PingFangSC;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #8896a7;
}

section .flow-standard{
	margin:0 auto;
	padding-top:190px;
	height:870px;
}

.flow-standard .flow-standard-btn{
	margin:0 auto;
	width:330px;
	height:50px;
	border-radius: 4px;
}

.flow-standard .flow-standard-btn .view-btn{
	float:left;
	width:165px;
	height:50px;
	line-height:50px;
	border: solid 1px #abbdd3;
	background-color: #f1f5f9;
	font-family: PingFangSC;
  	font-size: 16px;
  	font-weight: 500;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #485565;
  	cursor:pointer;
}

.flow-standard .flow-standard-btn .flow-btn{
	background-color:#fff;
	border-right:none;
}

.flow-standard .flow-content{
	display:block;
	position:relative;
	width:100%;
}

.flow-standard .standard-content{
	display:none;
	position:relative;
	width:100%;
}

.flow-standard .flow-content .flow-box{
	position:relative;
	margin:0 auto;
	margin-top:45px;
	width:1060px;
	height:280px;
}

.flow-standard .flow-content .flow-box .flow-item{
	position:absolute;
	width:280px;
	height:280px;
	background-color:transparent;
	border: solid 1px #dbdbdb;
	border-radius:100%;
	top:0;
}

.flow-standard .flow-content .flow-box .flow-item:nth-child(1){
	left:0px;
	z-index:1;
}

.flow-standard .flow-content .flow-box .flow-item:nth-child(2){
	left:260px;
	z-index:2;
}

.flow-standard .flow-content .flow-box .flow-item:nth-child(3){
	left:520px;
	z-index:3;
}

.flow-standard .flow-content .flow-box .flow-item:nth-child(4){
	right:0;
	z-index:4;
}

.flow-standard .flow-content .flow-box .flow-item img{
	display:block;
	margin:0 auto;
	padding-top:54px;
}

.flow-standard .flow-content .flow-box .flow-item .flow-title{
	margin:0 auto;
	padding:0 20px;
	margin-top:20px;
	width:100%;
	font-family: PingFangSC;
  	font-size: 20px;
  	text-align: center;
  	color: #6d6d6d;
}

.flow-standard .flow-content .flow-box .flow-item .flow-msg{
	margin:0 auto;
	padding:0 30px;
	margin-top:20px;
	width:100%;
	font-family: PingFangSC;
  	font-size: 14px;
  	line-height: 1.71;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #6d6d6d;
}

.flow-standard .standard-content .standard-box{
	position:relative;
	margin:0 auto;
	margin-top:135px;
	width:990px;
	height:128px;
	background:url(../img/line.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item{
	position:absolute;
	width:120px;
	height:146px;
	cursor:pointer;
}

.flow-standard .standard-content .standard-box .standard-item .item-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}

.flow-standard .standard-content .standard-box .standard-item .item-content{
	display:none;
	position:relative;
	bottom:-79px;
	left:50%;
	margin-left:-142px;
	width:284px;
	background:url(../img/standard_item_bg.png)no-repeat center center;
	background-size:100% 100%;
	border-radius: 4px;
	z-index:10;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(1){
	top:-92px;
	left:-60px;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(2){
	top:4px;
	left:177px;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(3){
	top:-88px;
	left:433px;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(4){
	top:4px;
	left:687px;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(5){
	top:-70px;
	left:932px;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(1) .item-bg{
	background:url(../img/standard_01.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(2) .item-bg{
	background:url(../img/standard_02.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(3) .item-bg{
	background:url(../img/standard_03.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(4) .item-bg{
	background:url(../img/standard_04.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(5) .item-bg{
	background:url(../img/standard_05.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item .item-content .item-title{
	padding-top:74px;
	padding-bottom:38px;
	font-family: PingFangSC;
  	font-size: 18px;
  	line-height: 0.83;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #0099e5;
}

.flow-standard .standard-content .standard-box .standard-item .item-content .item-msg{
	margin:0 auto;
	width:180px;
	padding-bottom:45px;
	font-family: PingFangSC;
  	font-size: 14px;
  	line-height: 1.57;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #6d6d6d;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(1):hover .item-bg{
	background:url(../img/standard_01_bg.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(2):hover .item-bg{
	background:url(../img/standard_02_bg.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(3):hover .item-bg{
	background:url(../img/standard_03_bg.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(4):hover .item-bg{
	background:url(../img/standard_04_bg.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:nth-child(5):hover .item-bg{
	background:url(../img/standard_05_bg.png)no-repeat center center;
	background-size:100% 100%;
}

.flow-standard .standard-content .standard-box .standard-item:hover .item-content{
	display:block;
}

.flow-standard .standard-content .standard-box .standard-item:hover .item-content{
	display:block;
}

.flow-standard .standard-content .standard-box .standard-item:hover .item-content{
	display:block;
}

.flow-standard .standard-content .standard-box .standard-item:hover .item-content{
	display:block;
}

.flow-standard .standard-content .standard-box .standard-item:hover .item-content{
	display:block;
}



section .recommend-position{
	margin:0 auto;
	background-color:#fff;
	margin-bottom:80px;
}

.recommend-position .position-box{
	position:relative;
	margin:0 auto;
	margin-top:30px;
	width:1200px;
}

.recommend-position .position-box .position-title{
	width: 100%;
  	height: 45px;
  	line-height:45px;
  	background-color: #767676;
  	font-family: NotoSansCJKsc;
  	font-size: 16px;
  	text-align: left;
  	color: #ffffff;
}

.recommend-position .position-box .position-title span{
	float:left;
}

.recommend-position .position-box .position-title .position-title-company{
	margin-left:25px;
}

.recommend-position .position-box .position-title .position-title-message{
	margin-left:68px;
}

.recommend-position .position-box .position-title .position-title-degree{
	float:right;
	margin-right:30px;
}

.recommend-position .position-box .position-list{
	padding-bottom:68px;
	background-color: #ffffff;
  	box-shadow: 0 2px 8px 0 rgba(214, 214, 214, 0.5);
}

.recommend-position .position-box .position-list .position-item{
	position:relative;
	padding:30px 30px 15px 25px;
	width:100%;
	cursor:pointer;
	border-bottom:1px solid #e4e4e4;
}

.recommend-position .position-box .position-list .position-item .position-company-img{
	width:80px;
	height:80px;
	border:1px solid #e5e5e5;
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
}

.recommend-position .position-box .position-list .position-item .position-company-img img{
	display:inline-block;
	width:68px;
}

.recommend-position .position-box .add-more-btn{
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-75px;
	width:150px;
	height:68px;
	line-height:68px;
	font-family: NotoSansCJKsc;
  	font-size: 18px;
  	text-align: center;
  	color: #0099e5;
  	cursor:pointer;
}

.position-list .position-item .position-top{
	position:absolute;
	top:30px;
	left:125px;
	width:950px;
	height:24px;
	line-height:24px;
}

.position-list .position-item .position-top .position-top-name{
	float:left;
	max-width:450px;
	font-family: NotoSansCJKsc;
  	font-size: 18px;
  	letter-spacing: 1.3px;
  	text-align: center;
  	color: #333;
}

.position-list .position-item .position-top .position-tag-list{
	float:left;
	margin-left:10px;
}

.position-list .position-item .position-top .position-tag-list .position-tag-item{
	float:left;
	margin-left:10px;
	padding:0 10px;
	background-color:#ffbf00;
	border-radius:100px;
	font-family: PingFangSC;
  	font-size: 12px;
  	text-align: center;
  	color: #fff;
}

.position-list .position-item .position-bottom{
	position:absolute;
	top:90px;
	left:125px;
	width:800px;
	height:20px;
	line-height:20px;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #6d6d6d;
}

.position-list .position-item .position-bottom .position-company-name{
	float:left;
	max-width:300px;
}

.position-list .position-item .position-bottom .position-site-list{
	float:left;
	margin-left:10px;
}

.position-list .position-item .position-bottom .position-site-list .position-site-item{
	float:left;
	font-family: NotoSansCJKsc;
  	font-size: 12px;
  	letter-spacing: 0.9px;
  	text-align: center;
  	color: #0099e5;
}

.position-list .position-item .position-degree{
	display:inline-block;
	position:absolute;
	top:20px;
	right:30px;
	font-family: NotoSansCJKsc;
  	font-size: 38px;
  	text-align: left;
  	color: #69a2cd;
}

.position-list .position-item .position-operation{
	position:relative;
}

.position-list .position-item .position-operation::after{
	display:inline-block;
	content:"";
	clear:both;
}

.position-list .position-item .position-operation .operation-box{
	position:relative;
	float:right;
	margin-left:20px;
	font-family: NotoSansCJKsc;
  	font-size: 12px;
  	text-align: left;
  	color: #666666;
  	line-height:20px;
  	cursor:pointer;
}

.position-list .position-item .position-operation .operation-box span{
	float:left;
}

.position-list .position-item .position-operation .operation-box .operation-num{
	margin-left:5px;
}

.position-list .position-item .position-operation .operation-box .operation-icon i{
  	font-size: 18px;
  	color: #666666;
}

.position-list .position-item .position-operation .operation-box .operation-icon .red{
	color:#ee5c54;
}

.position-list .position-item .position-operation .operation-box .operation-icon .blue{
	color:#0099e5;
}

.fa-heart{
	display:none;
}

.position-list .position-item .commend-list{
	display:block;
	margin-top:15px;
	cursor:default;
}

.position-list .position-item .commend-list .commend-item{
	position:relative;
	margin-top:3px;
	padding:20px 30px 0 110px;
	background-color: #f9fafc;
}

.position-list .position-item .commend-list .commend-item .commend-head{
	position:absolute;
	top:20px;
	left:30px;
	display:block;
	width:50px;
	height:50px;
	border-radius:100px;
}

.position-list .position-item .commend-list .commend-item .commend-content{
	position:relative;
	padding-bottom:60px;
}

.position-list .position-item .commend-list .commend-item .commend-content .commend-name{
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #666;
}

.position-list .position-item .commend-list .commend-item .commend-content .commend-text{
	padding-top:10px;
	line-height:24px;
	font-family: NotoSansCJKsc;
  	font-size: 16px;
  	text-align: left;
  	color: #333;
}

.position-list .position-item .commend-list .commend-item .commend-content .commend-date{
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:0;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #666666;
}

.position-list .position-item .commend-list .commend-item .commend-content .commend-item-reply-btn{
	display:inline-block;
	position:absolute;
	bottom:20px;
	left:0;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #69a2cd;
  	cursor:pointer;
}

.position-list .position-item .add-more-commend{
	display:block;
	margin:0 auto;
	width:180px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	color: #666;
  	cursor:pointer;
}

.position-list .position-item .commend-reply-box{
	position:relative;
	padding:20px 30px 0 110px;
	background-color: #f9fafc;
}

.position-list .position-item .commend-reply-box .commend-reply-head{
	position:absolute;
	top:20px;
	left:30px;
	display:block;
	width:50px;
	height:50px;
	border-radius:100px;
}

.position-list .position-item .commend-reply-box .commend-reply-content{
	position:relative;
	padding-bottom:80px;
}

.position-list .position-item .commend-reply-box .commend-reply-content .commend-reply-name{
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #666;
}

.position-list .position-item .commend-reply-box .commend-reply-content textarea{
	display:block;
	margin-top:10px;
	padding:10px;
	border:1px solid #d5d5d5;
	width:100%;
	height:60px;
	line-height:24px;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #333;
  	resize: none;
}

.position-list .position-item .commend-reply-box .commend-reply-content textarea{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.position-list .position-item .commend-reply-box .commend-reply-content textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.position-list .position-item .commend-reply-box .commend-reply-content .commend-reply-btn{
	position:absolute;
	bottom:20px;
	right:0;
	width: 88px;
  	height: 45px;
  	background-color: #505050;
  	line-height:45px;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: center;
  	color: #fff;
  	cursor:pointer;
}


section .team{
	margin:0 auto;
	margin-bottom:80px;
	height:610px;
	background:url(../img/team_bg.png)no-repeat center center;
	background-size:cover;
}

.team .team-title{
	padding:80px 0 50px 0;
	font-family: NotoSansCJKsc;
  	font-size: 34px;
  	text-align: center;
  	color: #666666;
}

.team .team-dec-box{
	margin:0 auto;
	width:960px;
}

.team .team-dec-box .team-dec-item{
	position:relative;
	float:left;
	padding:0 20px 40px 35px;
	width:320px;
}

.team .team-dec-box .team-dec-item img{
	display:inline-block;
	float:left;
}

.team .team-dec-box .team-dec-item .item-content{
	float:left;
	padding-left:20px;
	width:200px;
}

.team .team-dec-box .team-dec-item .item-content .item-title{
	line-height:28px;
	font-family: PingFangSC;
  	font-size: 20px;
  	text-align: left;
  	color: #333;
}

.team .team-dec-box .team-dec-item .item-content .item-dec{
	margin-top:8px;
	line-height:20px;
	font-family: PingFangSC;
  	font-size: 14px;
  	text-align: left;
  	color: #6d6d6d;
}

.team .member-box{
	position:relative;
	top:120px;
	left:50%;
	margin-left:-500px;
	width:1000px;
	height: 410px;
  	border-radius: 13px;
  	background-color: #fff;
  	box-shadow: 0 7px 13px 0 #e1e1e1;
}
.team .member-box .member-btn{
	position:absolute;
	top:50%;
	margin-top:-25px;
	width:50px;
	height:50px;
	text-align:center;
	cursor:pointer;
}

.team .member-box .prev-btn{
	left:-50px;
}

.team .member-box .next-btn{
	right:-50px;
}

.team .member-box .member-btn i{
	font-size:50px;
	color:#333;
}

.team .member-box .member-list{
	width:100%;
	height:100%;
	background-color:#fff;
}

.team .member-box .member-list .member-item{
	padding:45px 60px 40px 60px;
	width:100%;
	height:100%;
	background-color:#fff;
}

.member-item .item-left{
	position:absolute;
	top:45px;
	left:60px;
	width:200px;
}

.member-item .item-right{
	position:absolute;
	top:45px;
	right:60px;
	width:660px;
}

.member-item .item-left img{
	display:block;
	width:200px;
}

.member-item .item-left .view-all-btn{
	margin:0 auto;
	margin-top:30px;
	width: 120px;
  	height: 45px;
  	line-height:45px;
  	border: solid 2px #979797;
  	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: center;
  	color: #333;
  	cursor:pointer;
}

.member-item .item-right .item-title{
	line-height:36px;
	font-family: NotoSansCJKsc;
  	font-size: 24px;
  	text-align: left;
  	color: #333;
}

.member-item .item-right .item-name{
	padding-top:10px;
	line-height:27px;
	font-family: NotoSansCJKsc;
  	font-size: 18px;
  	text-align: left;
  	color: #0099e5;
}

.member-item .item-right .item-msg{
	margin-top:10px;
}

.member-item .item-right .item-msg .msg-item{
	position:relative;
	padding-bottom:10px;
	padding-left:15px;
	width:100%;
	line-height:24px;
	font-family: NotoSansCJKsc;
  	font-size: 16px;
  	text-align: left;
  	color: #6d6d6d;
}

.member-item .item-right .item-msg .msg-item::before{
	position:absolute;
	top:7px;
	left:0;
	content:"";
	width:6px;
	height:6px;
	background:#ffbf00;
	border-radius:6px;
}

section .case{
	margin:180px 0 80px 0;
}

.case .case-title{
	padding-top:0px;
}

.case .case-list-box{
	margin-top:13px;
	width:100%;
	background:url(../img/case_bg.png)no-repeat center center;
	background-size:cover;
}

.case .case-list-box .case-list-content{
	position:relative;
	margin:0 auto;
	width:1110px;
}

.case .case-list-box .case-list-content .case-list{
	width:100%;
}

.case .case-list-box .case-list-content .case-list::after{
	display:inline-block;
	content:"";
	clear:both;
}

.case .case-list-box .case-list-content .add-more-case{
	display:inline-block;
	position:absolute;
	top:-33px;
	right:15px;
	font-family: NotoSansCJKsc;
  	font-size: 14px;
  	text-align: left;
  	color: #6d6d6d;
}

.case .case-list-box .case-list-content .add-more-case::after{
	position:absolute;
	top:5px;
	right:-10px;
	content:"";
	width:9px;
	height:9px;
	border-top:1px solid #6d6d6d;
	border-right:1px solid #6d6d6d;
	
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}


.case .case-list-box .case-list-content .case-list .case-item{
	position:relative;
	margin:30px 30px 0 0;
	padding:30px;
	float:left;
	width:350px;
	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
}

.case .case-list-box .case-list-content .case-list .case-item:nth-of-type(3n+0){
	margin-right:0;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top{
	position:relative;
	width:100%;
	height:80px;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top img{
	display:block;
	float:left;
	width:80px;
	border-radius:100%;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top .item-top-msg{
	display:block;
	float:right;
	width:190px;
	height:100%;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top .item-top-msg .msg-name{
	font-family: PingFangSC;
  	font-size: 14px;
  	font-weight:bold;
  	line-height: 1.71;
  	text-align: left;
  	color: #333;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top .item-top-msg .msg-address{
	padding-top:5px;
	font-family: PingFangSC;
  	font-size: 14px;
  	line-height: 1.71;
  	text-align: left;
  	color: #6d6d6d;
}

.case .case-list-box .case-list-content .case-list .case-item .item-top .item-top-msg .msg-position{
	padding-top:5px;
	font-family: PingFangSC;
  	font-size: 14px;
  	line-height: 1.71;
  	text-align: left;
}

.case .case-list-box .case-list-content .case-list .case-item .item-dec{
	padding:20px 0;
	font-family: PingFangSC;
  	font-size: 14px;
  	line-height: 1.71;
  	text-align: left;
  	color: #6d6d6d;
}


section .cooperation{
	position:relative;
	margin:0 auto;
	padding-bottom:100px;
	background-color:#f1f5f9;
}

.cooperation .cooperation-title{
	padding-top:80px;
}

.cooperation .cooperation-msg{
	padding-bottom:45px;
}

.cooperation .cooperation-box{
	position:relative;
	margin:0 auto;
	width:898px;
	height:255px;
}

.cooperation-box .company-list{
	position:relative;
	width:100%;
	height:100%;
}

.cooperation-box .company-list .company-list-item{
	position:relative;
	width:100%;
	height:100%;
}

.company-list-item .list-content{
	position:relative;
	width:100%;
	height:100%;
}

.company-list-item .list-content .company-item{
	position:relative;
	float:left;
	margin-right:50px;
	margin-bottom:30px;
	width:187px;
	height:55px;
}

.company-list-item .list-content .company-item:nth-of-type(4n+0){
	margin-right:0;
}

.company-list-item .list-content .company-item .company-item-box{
	width:187px;
	height:55px;
	background-color:#fff;
	
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.company-list-item .list-content .company-item .company-item-box img{
	display: inline-block;
    height:45px;
}

.company-list-item .list-content .company-item .little img{
    height:25px;
}


footer{
	position:relative;
	width:100%;
	height:385px;
	background:url(../img/footer_bg.png)no-repeat center center;
	background-size:cover;
}

footer .back-top{
	display:block;
	position:absolute;
	top:-32px;
	right:50%;
	margin-right:-500px;
	width:64px;
	height:64px;
	border-radius:100%;
	background-color: #64d3de;
  	box-shadow: 0 3px 6px 0 rgba(154, 154, 154, 0.5);
	cursor:pointer;
}

.back-top::before{
	position:absolute;
	top: 21px;
    left: 27px;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.back-top::after{
	position:absolute;
	bottom: 11px;
    left: 20px;
    content: "Top";
    font-family: PingFangSC;
    font-size: 14px;
  	letter-spacing: 0.8px;
  	text-align: center;
  	color: #fff;
}

footer .about-us{
	margin:0 auto;
	padding-top:60px;
	width:1200px;
}

footer .about-us::after{
	display:inline-block;
	content:"";
	clear:both;
}

.about-us .about-left{
	float:left;
	width:500px;
	font-family: PingFangSC;
  	font-size: 14px;
  	text-align: justify;
  	color: #e7e7e7;
}

.about-left .about-title .title-big{
	font-family: PingFangSC;
  	font-size: 34px;
  	text-align: justify;
  	color: #fff;
}

.about-left .about-title{
	padding-bottom:30px;
}

.about-left .about-title .title-little{
	font-family: NotoSansCJKsc;
  	font-size: 26px;
  	font-weight: 300;
  	text-align: justify;
  	color: #cacaca;
}

.about-left .about-dec{
	padding-bottom:30px;
}

.about-left .about-dec .dec-text{
	font-family: NotoSansCJKsc;
  	color: #fff;
}

.about-left .about-dec .dec-text .dec-name{
  	font-size: 18px;
  	color: #ffbf00;
}

.about-left .about-phone{
	position:relative;
	padding-bottom:2px;
	padding-left:25px;
}

.about-left .about-phone i{
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	color:#fff;
}

.about-left .about-address{
	position:relative;
	padding-bottom:30px;
	padding-left:25px;
  	color: #e6e6e6;
}

.about-left .about-address i{
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	color:#fff;
}

.about-left .about-other{
	padding-bottom:2px;
  	color: rgba(208, 208, 208, 0.9);
}

footer .about-right{
	float:right;
	width:250px;
}

footer .about-right .right-box{
	margin-top:40px;
	width:250px;
	height:300px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.right-box img{
	display:inline-block;
	width:170px;
}
	
.right-box .right-dec{
	padding-top:30px;
	font-family: PingFangSC;
  	font-size: 18px;
  	text-align: center;
  	color: #ffffff;
}


