@charset "utf-8";
/******************************Banner****************************/
.top-banner {
	position:relative;
	width:100%;
	height:313px;
	background:url(../img/position_detail_banner.png)no-repeat center center;
	background-size:cover;
}

.top-banner .banner-content{
	position:relative;
	margin:0 auto;
	width:1200px;
	height:100%;
}

.banner-content .send-resume-btn{
	position:absolute;
	top:127px;
	right:20px;
	width: 180px;
  	height: 60px;
  	line-height:60px;
  	background-color: #0099e5;
  	font-size: 16px;
  	letter-spacing: 1.1px;
  	text-align: center;
  	color: #ffffff;
  	cursor:pointer;
}

.banner-content .send-resume-btn:hover{
	background-color:#0099ff;
}

.banner-content .company-name{
	padding-top:60px;
	line-height:27px;
  	font-size: 18px;
  	letter-spacing: 2.6px;
  	text-align: left;
  	color: #ffffff;
}

.banner-content .position-name{
	padding-top:20px;
	height:82px;
}

.banner-content .position-name .position-name-text{
	display:inline-block;
	float:left;
	line-height:62px;
  	font-size: 42px;
  	letter-spacing: 2.6px;
  	text-align: left;
  	color: #ffffff;
}

.banner-content .position-name .weixin-img{
	display:inline-block;
	float:left;
	margin:12px 0 0 20px;
	width:40px;
	height:40px;
	background:url(../img/weixin.png)no-repeat center center;
	background-size:100% 100%;
}

.banner-content .position-tag{
	margin-top:10px;
}

.banner-content .position-tag::after{
	display:block;
	content:"";
	clear:both;
}

.banner-content .position-tag .tag-item{
	margin-right:10px;
	padding:0 10px;
	float:left;
	height:24px;
	border-radius: 4px;
	line-height:24px;
	background:#ffbf00;
  	font-size: 12px;
  	text-align: center;
  	color: #ffffff;
}

.banner-content .position-address{
	margin-top:30px;
  	font-size: 14px;
  	letter-spacing: 2px;
  	text-align: left;
  	color: #ffffff;
}

/***************************Content***********************/
section{
	position:relative;
	background:#fff;
}

section .content-box{
	margin:0 auto;
	width:1200px;
}

section .content-box .position-box{
	position:relative;
	width:100%;
	padding-bottom:60px;
}

section .content-box .position-box::after{
	display:block;
	content:"";
	clear:both;
}

.position-box .position-left{
	position:relative;
	margin-top:60px;
	margin-left:70px;
	float:left;
	width:770px;
}

.position-box .position-right{
	float:right;
	width:300px;
}

.position-left .msg-item{
	position:relative;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #c3c3c3;
}

.position-left .msg-item:last-child{
	border-bottom:none;
}

.msg-item .msg-icon{
	position:absolute;
	top:0;
	left:-70px;
	width:45px;
	height:45px;
	background-color:#d2d7db;
	line-height:55px;
	vertical-align:middle;
	text-align:center;
	border-radius:100%;
}

.msg-item .msg-icon i{
	font-size:20px;
	color:#fff;
}

.msg-item .msg-title{
	margin-bottom:20px;
	line-height:36px;
  	font-size: 24px;
  	text-align: left;
  	color: #333333;
}

.msg-item .msg-content{
  	font-size: 14px;
  	text-align: left;
  	color: #6d6d6d;
}

.msg-item .msg-content .msg-text{
	line-height:30px;
}

.position-right .degree-title{
	padding:60px 0 30px 0;
}

.position-right .title-big{
  	font-size: 24px;
  	text-align: left;
  	color: #333333;
}

.position-right .title-little{
	padding-left:20px;
  	font-size: 16px;
  	text-align: left;
  	color: #9a9a9a;
}

.position-right #indicatorContainer canvas{
	width:120px;
	height:120px;
  	font-size: 20px;
  	line-height: 1.35;
  	text-align: center;
  	color: #666666;
}

.position-right .evaluation-btn{
	margin-top:10px;
}

.position-right .evaluation-btn .evaluation-text{
	position:relative;
	display:inline-block;
	padding-right:20px;
  	font-size: 14px;
  	text-align: left;
  	color: #666666;
  	cursor:pointer;
}

.position-right .evaluation-btn .evaluation-text:hover{
	color:#ffbf00;
}

.position-right .evaluation-btn .evaluation-text::before{
	content: "";
    position: absolute;
    top: 9px;
    right: 10px;
    width: 7px;
    height: 1px;
    background: #6d6d6d;
}

.position-right .evaluation-btn .evaluation-text::after{
	content: "";
    position: absolute;
    top: 7px;
    right: 9px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.position-right .course-recommend{
	margin-top:30px;
	padding:30px 0;
	border-top:1px solid #c3c3c3;
}

.course-recommend .course-list{
	padding-top:30px;
	width:100%;
}

.course-recommend .course-list .course-item{
	margin-bottom:20px;
	width:100%;
	height:200px;
}

.course-recommend .course-list .course-item a{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}

.course-recommend .course-list .course-item img{
	width:100%;
}

.course-recommend .course-list .course-item a .video-icon{
	position:absolute;
	top:40px;
	left:50%;
	margin-left:-30px;
	width:60px;
	height:60px;
	background:url(../img/video_icon.png)no-repeat center center;
	background-size:100% 100%;
}

.course-recommend .course-list .course-item a .course-msg{
	position:absolute;
	bottom:5px;
	left:0;
	width:100%;
	height:55px;
	line-height:55px;
	overflow:hidden;
}

.course-recommend .course-list .course-item a .course-msg .course-name{
	float:left;
	max-width:220px;
	padding-left:20px;
  	font-size: 16px;
  	text-align: left;
  	color: #333333;
  	overflow:hidden;
  	text-overflow:ellipsis;
  	white-space:nowrap;
}

.course-recommend .course-list .course-item a .course-msg .course-num{
	float:left;
	padding-left:10px;
  	font-size: 12px;
  	text-align: left;
  	color: #c3c3c3;
}


section .reply-box{
	width:100%;
	background:#f9fafc;
}

.reply-box .reply-content{
	margin:0 auto;
	padding:60px 0 80px 0;
	width:1200px;
	
}

.reply-content .reply-area{
	margin-bottom:10px;
	width:1180px;
	height:80px;
}

.reply-area textarea{
	display:block;
	float:left;
	padding:15px 20px;
	width:1067px;
	height:100%;
	background-color: #ffffff;
  	border: solid 1px #dfdfdf;
  	border-right:none;
  	font-size: 14px;
  	text-align: left;
  	color: #333;
  	resize:none;
}

.reply-area .reply-btn{
	float:left;
	width:113px;
	height:80px;
	background:#ffbf00;
	line-height:80px;
  	font-size: 16px;
  	text-align: center;
  	color: #fff;
  	cursor:pointer;
}

.reply-area .reply-btn:hover{
	background-color:#ffb400;
}

.reply-content .commend-list{
	margin-bottom:20px;
	width:1180px;
}


.commend-list .commend-item{
	position:relative;
	margin-top:3px;
	padding:20px 50px 0 130px;
	background-color: #fff;
}

.commend-list .commend-item .commend-head{
	position:absolute;
	top:20px;
	left:50px;
	display:block;
	width:50px;
	height:50px;
	border-radius:100px;
}

.commend-list .commend-item .commend-content{
	position:relative;
	padding-bottom:60px;
}

.commend-list .commend-item .commend-content .commend-name{
  	font-size: 14px;
  	text-align: left;
  	color: #666;
}

.commend-list .commend-item .commend-content .commend-text{
	padding-top:10px;
	line-height:24px;
  	font-size: 16px;
  	text-align: left;
  	color: #333;
}

.commend-list .commend-item .commend-content .commend-date{
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:0;
  	font-size: 14px;
  	text-align: left;
  	color: #666666;
}

.commend-list .commend-item .commend-content .commend-item-reply-btn{
	display:inline-block;
	position:absolute;
	bottom:20px;
	left:0;
  	font-size: 14px;
  	text-align: left;
  	color: #69a2cd;
  	cursor:pointer;
}

.commend-list .commend-item .item-reply-area{
	display:block;
	position:relative;
	width:100%;
	height:140px;
}

.commend-list .commend-item .item-reply-area textarea{
	display:block;
	padding:10px;
	width:100%;
	height:60px;
	background-color: #fff;
  	border: solid 1px #dfdfdf;
  	font-size: 14px;
  	text-align: left;
  	color: #333;
  	resize:none;
}

.commend-list .commend-item .item-reply-area .item-reply-area-btn{
	position:absolute;
	bottom:20px;
	right:0;
	width: 88px;
  	height: 45px;
  	background-color: #505050;
  	line-height:45px;
  	font-size: 14px;
  	text-align: center;
  	color: #fff;
  	cursor:pointer;
}

textarea{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.commend-list .commend-item .item-reply-area textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


.commend-list .commend-item .item-comend-box{
	padding-bottom:30px;
}

.commend-list .commend-item .item-comend-box .item-commend-list{
	padding:0 30px;
	margin-bottom:40px;
	background-color: #f8f8f8;
}

.commend-list .commend-item .item-commend-list .item-commend-item{
	position:relative;
	padding:20px 0 10px 60px;
	width:100%;
	border-bottom:1px solid #dedede;
}

.commend-list .commend-item .item-commend-list .item-commend-item:last-child{
	border:none;
}

.item-commend-list .item-commend-item .item-commend-head{
	position:absolute;
	top:20px;
	left:0;
	display:block;
	width:50px;
	height:50px;
	border-radius:100px;
}

.item-commend-list .item-commend-item .item-commend-content{
	position:relative;
	padding-bottom:40px;
}

.item-commend-list .item-commend-item .item-commend-content .item-commend-name{
  	font-size: 14px;
  	text-align: left;
  	color: #666;
}

.item-commend-list .item-commend-item .item-commend-content .item-commend-text{
	padding-top:10px;
	line-height:24px;
  	font-size: 16px;
  	text-align: left;
  	color: #333;
}

.item-commend-list .item-commend-item .item-commend-content .item-commend-date{
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:0;
  	font-size: 14px;
  	text-align: left;
  	color: #666666;
}

