<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>Meal</title>
		
		<!-- Public Header -->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template.css?v=20171221"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Private Header -->
	    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
	    <link rel="stylesheet" href="../../Content/lib/swiper-3.4.2.min.css" />
	    <link rel="stylesheet" href="../../Content/css/Meal.css?v=20171221"/>
	    
	</head>
<body>
	
	<div class="container-fluid">
		
		<!-- Top -->
		<header class="row">
			<div class="row top-box top-width">
				<div class="top-logo"></div>
				<ul class="top-nav">
					<li class="top-nav-item"><a href="../Home/Index.html">首页</a></li>
					<li class="top-nav-item"><a href="../Job/List.html">职位兴趣</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">我的职位</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">服务内容</a></li>
					<li class="top-nav-item"><a href="#">关于我们</a></li>
					<li class="top-nav-item login-register"><a href="#">注册/登录</a></li>
				</ul>
			</div>
		</header>
		
		<!--********************************************Private结构************************************-->
		<!-- Banner-->
		<div class="row top-banner">
			<div class="banner-title">起航套餐</div>
			<div class="banner-msg">快速认知自我就业能力，完善职业发展规划，获得名师培养，提高市场竞争力。为了更有效，更精准提供求职培训服务。</div>
			<div class="banner-star-box">
				<span class="banner-star"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span class="banner-star"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span class="banner-star"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span class="banner-star"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span class="banner-star"><i class="fa fa-star" aria-hidden="true"></i></span>
			</div>
			<div class="banner-price">
				<span class="promation">促销价：<span class="red">¥7988.00</span></span>
				<span class="original">原价：<span class=""></span>¥13000.00</span>
			</div>
			<div class="banner-buy-btn">立即购买</div>
		</div>
		<!-- Content -->
		<section class="row">
			<div class="row introduce-detail">
				<span class="introduce-btn">介绍</span>
				<span class="detail-btn">详情</span>
			</div>
			
			<div class="row introduce-box">
				<div class="row introduce-title-box">
					<div class="introduce-title">
						<span>四海</span>
						<span>归心</span>
						<span>未来</span>
						<span>共赢</span>
					</div>
					<div class="introduce-msg">
						海途学子携手肯耐珂萨（KNX）启动智慧生涯项目，开启你的名企之路。字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文，字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文字假文。字假文字假文字假文字，假文字假更容易获得实习就业机会。
					</div>
					<div class="logo-box">
						<div class="knx-logo"></div>
						<div class="haitu-logo"></div>
					</div>
					<div class="msg-content">
						<div class="msg-title">海途学子与KNX强强战略合作，我们的优势：</div>
						<ul class="msg-list">
							<li class="msg-item">中国规模最大的唯一一家提供专业的人力资源整体解决方案的公司，业务辐射全国，2017年HRoot大中华区人力资源服务机构品牌100强排前13；</li>
							<li class="msg-item">目前中国市场唯一一家有能力在人才选用育留方面提供人力资源一站式服务的领先公司，具有全国而专业的服务能力；</li>
							<li class="msg-item">创始人及核心团队管理、服务国际性的人力资源服务公司，创建中国研究院，具有国际视野和服务理念；</li>
							<li class="msg-item">中国规模最大的唯一一家提供专业的人力资源整体解决方案的公司，业务辐射全国，2017年HRoot大中华区人力资源服务机构品牌100强排前13；</li>
							<li class="msg-item">目前中国市场唯一一家有能力在人才选用育留方面提供人力资源一站式服务的领先公司，具有全国而专业的服务能力；</li>
							<li class="msg-item">创始人及核心团队管理、服务国际性的人力资源服务公司，创建中国研究院，具有国际视野和服务理念；</li>
						</ul>
					</div>
					<div class="evaluation-box">
						<div class="evaluation-title">职业能力测评</div>
						<ul class="evaluation-msg">
							<li class="msg-item">严格对照就业能力标准测评，参照海量数据常模和业内专家，专业解读职业能力；</li>
							<li class="msg-item">知名企业高管和丰富背景经验HR团队职业规划师专业指导，专业权威掌握用人单位用人能力标准及用人诉求；</li>
							<li class="msg-item">全面了解求职者职业性格，找到性格亮点及差异，快速帮助求职者建立自信，充分发挥求职者性格优势赢得就业机会。</li>
						</ul>
					</div>
				</div>
				<div class="course-box">
					<div class="course-img"></div>
					<div class="course-content">
						<div class="course-title">线上微课学习</div>
						<div class="course-msg">
							<div class="msg-text">分析个人发展计划，落实行动；</div>
							<div class="msg-text">深度浓缩职业技能，全面掌握所备能力；真实案例教学代入感强，现学现用；</div>
							<div class="msg-text">名师讲解，10年行业实战经验，3年以上授课经验；</div>
							<div class="msg-text">考题检验学习培训效果，有效期内提供无限考试机会；模拟职场面试场景，收获职场必杀技；</div>
							<div class="msg-text">移动端随时学习，轻松提升个人能力。</div>
						</div>
					</div>
				</div>
				<div class="row company-box">
					<div class="company-title">你将有机会进入…</div>
					<div class="company-content-box">
						<div class="company-content swiper-container">
							<ul class="company-list swiper-wrapper">
								<li class="company-item swiper-slide">
									<ul class="item-list">
										<li class="item-list-item">
											<div class="company-type">综合制造业</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">金融行业</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">汽车行业</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">家用电器</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="-item swiper-slide">
									<ul class="item-list">
										<li class="item-list-item">
											<div class="company-type">医药卫生</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">建筑建设</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">教育</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
										<li class="item-list-item">
											<div class="company-type">电子电气</div>
											<ul class="company-name-list">
												<li class="company-name">通用电气</li>
												<li class="company-name">阿尔斯通</li>
												<li class="company-name">ABB</li>
												<li class="company-name">霍尼韦尔</li>
												<li class="company-name">西门子</li>
												<li class="company-name">博世</li>
												<li class="company-name">铁姆肯</li>
												<li class="company-name">卡特彼勒</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- 导航按钮 -->
					    <div class="swiper-button-prev"></div>
					    <div class="swiper-button-next"></div>
				    </div>
				</div>
			
			</div>
			
			<div class="row detail-box">
				<div class="detail-evaluation-box">
					<div class="evaluation-title">探索自我-专业测评</div>
					<div class="evaluation-msg">通过完整系统的测评工具建立对自己客观公正的认知</div>
					<div class="evaluation-content-title">您可从6个覆盖绝大多数名企使用的测评类型中选取并完成3个在线测评</div>
					<div class="evaluation-content">
						<div class="content-msg">温馨提示：请您以最真实的状态完成答题。</div>
						<ul class="evaluation-list clearbox">
							<li class="evaluation-item">
								<div class="item-title">EQ情商测评</div>
								<div class="item-msg">如何在职场中如鱼得水 如何发挥自己的性格优势赢得职场战争。</div>
							</li>
							<li class="evaluation-item">
								<div class="item-title">EPA职业性格全画像测评</div>
								<div class="item-msg">全面了解职业性格，找到性格亮点，区别对待，客观评价。（当日出测评报告）</div>
							</li>
							<li class="evaluation-item">
								<div class="item-title">AT智力测评</div>
								<div class="item-msg">外企名企校招必备，在线能力测评，提前预知能力水平，稳抓胜率。</div>
							</li>
							<li class="evaluation-item">
								<div class="item-title">ES就业竞争力测评</div>
								<div class="item-msg">对照就业能力标准，识别短板及时提升。</div>
							</li>
							<li class="evaluation-item">
								<div class="item-title">创业成功率测试</div>
								<div class="item-msg">在小型互联网公司拼搏到底适不适合 如何才能与初创公司共同进步。</div>
							</li>
							<li class="evaluation-item">
								<div class="item-title">Harrison最佳优势测试</div>
								<div class="item-msg">重点关注性格优势，在不同职业和工作任务中的具体表现，建立自信，赢得就业机会。</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="detail-read-box">
					<div class="read-title">解读自我-专业解读</div>
					<div class="read-msg">参照行业内专家和职业规划师的建议，形成完整的个人发展计划，当您完成3个在线测评后，请耐心等待专业测评报告解读。</div>
					<div class="read-box clearbox">
						<div class="read-img"></div>
						<div class="read-content">
							<div class="content-title">解读流程</div>
							<ul class="content-list">
								<li class="content-item">
									<div class="item-title">报告解读</div>
									<div class="item-msg">针对所有测评工具的报告结果进行专业分析，对比常模，找准位置。</div>
								</li>
								<li class="content-item">
									<div class="item-title">指标分析</div>
									<div class="item-msg">报告中各项指标的具体含义，优势项和劣势项如何做区分，如何分别干预。</div>
								</li>
								<li class="content-item">
									<div class="item-title">发展建议</div>
									<div class="item-msg">针对短板的个性化发展建议，采取精简易行的原则。</div>
								</li>
								<li class="content-item">
									<div class="item-title">行动计划</div>
									<div class="item-msg">手把手教授用具体的工具为自己制定行动计划。</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="detail-tips-box">
					<div class="tips-title">温馨提示</div>
					<div class="tips-box tips-one">
						<span class="tips-head">您可当日看到报告的测评有：</span>
						<span class="tips-text">EPA职业性格全画像测试，ES就业竞争力测试，AT智力测试，创业成功率测试。</span>
					</div>
					<div class="tips-box tips-two">
						<span class="tips-head">您可3日内看到报告的测评有：</span>
						<span class="tips-text">EQ情商测试，Harrison最佳优势测试。</span>
					</div>
				</div>
			</div>
		</section>
		<!--********************************************Private结构End*********************************-->
		
		<!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《Caree Success注册协议》</div>
							</div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">完善信息</div>
								<div class="lr-register-btn">直接注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bottom -->
		<footer class="row">
			<a href="#" class="back-top"></a>
			<div class="about-us">
				<div class="about-left">
					<div class="about-title">
						<span class="title-big">联系我们</span>
						<span class="title-little">contact us</span>
					</div>
					<div class="about-dec">
						<span class="dec-text"><span class="dec-name">Success Career</span>是海内外大学生职业发展增值服务平台，上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)（简称KNX）旗下专注于海归就业和国际化人才服务的核心系统之一，助你斩获名企高薪Offer。</span>
					</div>
					<div class="about-phone">
						<i class="fa fa-phone" aria-hidden="true"></i>
						电话: (+86) 021-31336975
					</div>
					<div class="about-email">
						<i class="fa fa-envelope" aria-hidden="true"></i>
							mickeyge@knx.com.cn
					</div>
					<div class="about-address">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						地址: 上海长宁区虹桥路1438号古北财富二期16层
					</div>
					<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
				</div>
				<div class="about-right">
					<div class="right-box">
						<img src="../../Content/img/erwei.png" alt="微信公众号" />
						<div class="right-dec">官方微信公众号：KNX_China</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Public JS -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/js/Template.js?v=20171221"></script>
	
	<!-- Private JS -->
	<script src="../../Scripts/lib/swiper-3.4.2.jquery.min.js"></script>
	<script src="../../Scripts/js/Meal.js?v=2017122"></script>
	
	<script>
	
	</script>
</body>
</html>
