@charset "utf-8";
/******************************Banner****************************/
.top-banner {
	position:relative;
	width:100%;
	height:280px;
	background:url(../img/serve_banner.png)no-repeat center center;
	background-size:cover;
}

.top-banner .banner-title{
	padding-top:107px;
	padding-bottom:20px;
	line-height:47px;
	font-family:"NotoSansCJKsc-Light";
	font-size:32px;
	text-align:center;
	color:#fff;
}

.top-banner .banner-msg{
	font-size:16px;
	text-align:center;
	color:#fff;
}

/***************************Content***********************/
section{
	position:relative;
	background:#fff;
}

section .nav-wrapper{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:45px;
	background:#fff;
	box-shadow: 0 2px 5px 0 rgba(227, 227, 227, 0.5);
}

.nav-wrapper .nav-container{
	margin:0 auto;
	padding-top:8px;
	width:495px;
	height:38px;
}

.nav-container .nav-item{
	float:left;
	margin-right:100px;
	width:98px;
	height:30px;
	line-height:30px;
	background:#fff;
	letter-spacing: 0.5px;
	font-size:14px;
	text-align:center;
	color:#6d6d6d;
	border-radius: 15px;
	cursor:pointer;
}

.nav-container .nav-item:first-child{
	color:#fff;
	background:#ffbf00;
}

.nav-container .nav-item:last-child{
	margin-right:0;
}

section .advantage-wrapper{
	width:100%;
	height:550px;
	background:url(../img/serve_01.png)no-repeat center center;
	background:cover;
}

.advantage-wrapper .advantage-title{
	position:relative;
	margin:0 auto;
	width:200px;
	padding-top:120px;
	text-align:center;
	font-size:24px;
	letter-spacing: 0.9px;
	color:#333;
}

.advantage-wrapper .advantage-title::before{
	position:absolute;
	top:100px;
	left:60px;
	content:"";
	width:63px;
	height:78px;
	background:url(../img/advantage_icon.png)no-repeat center center;
	background-size:100% 100%;
}




