@charset "utf-8";
/******************************初始化公共样式****************************/
*{
	padding:0;
	margin:0;
}

html,
body{
	min-width:1220px;
	margin:0;
	padding:0;
	border: 0;
	font-family:"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft Yahei",sans-serif;
	display:block;
	position:relative;
}

.clearfix{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	*zoom:1;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

a{
	color:#6d6d6d;
    text-decoration: none; 
}

a:link,
a:active,
a:visited,
a:hover{
	text-decoration:none;
	color:#6d6d6d;
}

input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #999999;   
}   

input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #999999;   
}   

input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #999999;   
}  

.container-fluid {
  	padding:0;
}

.row{
	margin:0;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
	padding:0;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
	padding:0;
}

.overflow-text{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.clearbox::after{
	display:block;
	content:"";
	clear:both;
}

.yellow{
	color:#ffbf00;
}

.red{
	color:#ee5c54;
}

.blue{
	color:#0099e5;
}

/***************************公用头部header***********************/

header{
	position:relative;
	width:100%;
	height:65px;
}

header .top-box{
	position:relative;
	margin:0 auto;
	width:1200px;
	height:65px;
	background:#fff;
}

.top-box .top-logo{
	width:192px;
	height:30px;
	float:left;
	margin-left:10px;
	margin-top:18px;
	background:url(../img/logo_02.png)no-repeat center center;
	background-size:cover;
}

.top-box .top-nav{
	height:100%;
	float:right;
	margin-right:5px;
}

.top-box .top-nav .top-nav-item{
	height:100%;
	position:relative;
	float:left;
	margin-left:45px;
	line-height:65px;
	cursor:pointer;
}

.top-box .top-nav .top-nav-item a{
	font-size:16px;
	color:#6d6d6d;
	position:relative;
}

.top-box .top-nav .login-register{
	margin-top:10px;
	padding:0 30px;
	height:45px;
	line-height:43px;
	border:1px solid #6d6d6d;
	border-radius:23px;
}

.top-box .top-nav .login-register:hover{
	border-color:#ffbf00;
}

.top-box .top-nav .top-nav-item:hover a{
	color:#ffbf00;
}

.top-box .top-nav .lr-success .success-img{
	display:block;
	margin-top:10px;
	width:45px;
	height:45px;
	border-radius:100%;
}


/*********************************公用底部footer部分************************************/
footer{
	position:relative;
	width:100%;
	height:385px;
	background:url(../img/footer_bg.png)no-repeat center center;
	background-size:cover;
}

footer .back-top{
	display:block;
	position:absolute;
	top:-32px;
	right:50%;
	margin-right:-500px;
	width:64px;
	height:64px;
	border-radius:100%;
	background-color: #64d3de;
  	box-shadow: 0 3px 6px 0 rgba(154, 154, 154, 0.5);
	cursor:pointer;
}

footer .back-top:hover{
	background:#2ecbdb;
}

.back-top::before{
	position:absolute;
	top: 21px;
    left: 27px;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.back-top::after{
	position:absolute;
	bottom: 11px;
    left: 20px;
    content: "Top";
    font-size: 14px;
  	letter-spacing: 0.8px;
  	text-align: center;
  	color: #fff;
}

footer .about-us{
	margin:0 auto;
	padding-top:60px;
	width:1200px;
}

footer .about-us::after{
	display:inline-block;
	content:"";
	clear:both;
}

.about-us .about-left{
	position:relative;
	float:left;
	width:500px;
  	font-size: 14px;
  	text-align: justify;
  	color: #e7e7e7;
}

.about-left .about-title .title-big{
  	font-size: 34px;
  	text-align: justify;
  	color: #fff;
}

.about-left .about-title{
	padding-bottom:30px;
}

.about-left .about-title .title-little{
	font-family:"NotoSansCJKsc-Light";
  	font-size: 26px;
  	font-weight: 300;
  	text-align: justify;
  	color: #cacaca;
}

.about-left .about-dec{
	padding-bottom:30px;
}

.about-left .about-dec .dec-text{
  	color: #fff;
}

.about-left .about-dec .dec-text .dec-name{
  	font-size: 18px;
  	color: #ffbf00;
}

.about-left .about-phone{
	position:relative;
	padding-bottom:2px;
	padding-left:25px;
}

.about-left .about-phone i{
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	color:#fff;
}

.about-left .about-email{
	position:absolute;
	bottom:72px;
	left:230px;
	padding-bottom:2px;
	padding-left:25px;
}

.about-left .about-email i{
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	color:#fff;
}

.about-left .about-address{
	position:relative;
	padding-bottom:30px;
	padding-left:25px;
  	color: #e6e6e6;
}

.about-left .about-address i{
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	color:#fff;
}

.about-left .about-other{
	padding-bottom:2px;
  	color: rgba(208, 208, 208, 0.9);
}

footer .about-right{
	float:right;
	width:250px;
}

footer .about-right .right-box{
	margin-top:40px;
	width:250px;
	height:300px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.right-box img{
	display:inline-block;
	width:170px;
}
	
.right-box .right-dec{
	padding-top:30px;
  	font-size: 18px;
  	text-align: center;
  	color: #ffffff;
}

/**********************************登录注册弹窗***********************************************/
.lr-container{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}

.lr-container .lr-wrapper{
	position:fixed;
	top:12%;
	left:50%;
	z-index:300;
	margin-left:-265px;
	width:492px;
	background:#fff;
}

.lr-wrapper .lr-box{
	position:relative;
	width:100%;
	height:100%;
	background:#fff;
}

.lr-box .lr-cancel{
	position:absolute;
	top:-10px;
	right:-50px;
	width:44px;
	height:44px;
	cursor:pointer;
	background:transparent;
}

.lr-cancel::before{
	position:absolute;
	top: 21px;
    left: 9px;
    content: "";
    width: 27px;
    height: 4px;
	background:#b4b4b4;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.lr-cancel::after{
	position:absolute;
	top: 10px;
    left: 20px;
    content: "";
    width: 4px;
    height: 27px;
	background:#b4b4b4;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.lr-box .lr-btn-box{
	margin:0 auto;
	width:450px;
	height:56px;
	border-bottom:1px solid #ddd;
}

.lr-btn-box .lr-btn{
	position:relative;
	float:left;
	width:60px;
	height:100%;
	line-height:56px;
 	font-size: 16px;
  	letter-spacing: 1.1px;
  	text-align: center;
  	color: #6d6d6d;
	cursor:pointer;	
}

.lr-btn-box .lr-btn .btn-line{
	display:none;
	position:absolute;
	bottom:-1px;
	left:0;
	z-index:10;
	width:100%;
	height:2px;
	background:#ffbf00;
}

.lr-btn-box .login-btn{
	color:#ffbf00;
}

.lr-btn-box .login-btn .btn-line{
	display:block;
}

/*****************************登录部分*******************************/
.lr-box .login-box{
	display:block;
	margin:30px auto;
	margin-bottom:60px;
	width:370px;
}

.login-box .login-title{
  	font-size: 18px;
  	letter-spacing: 1.5px;
  	text-align: center;
  	color: #333333;
}

.form-box{
	display:block;
	margin:0 auto;
	margin-top:30px;
	width:370px;
}

.form-box .input-box{
	position:relative;
	margin-top:15px;
	width:100%;
	height:45px;
}

.input-box .input-item{
	padding:10px 15px;
	width:100%;
	height:100%;
	line-height:25px;
	border:1px solid #d6d6d6;
	outline:none;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #333;
}

.form-box .lr-confirm-btn{
	margin:0 auto;
	margin-top:60px;
	width:370px;
	height:45px;
	line-height:45px;
	background:#ffbf00;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #ffffff;
  	cursor:pointer;
}

.form-box .lr-login-btn{
	margin-top:30px;
}

.form-box .lr-confirm-btn:hover{
	background:#ffb400;
}

.form-box .lr-tips{
	display:none;
	margin-bottom:-10px;
	line-height:20px;
  	font-size: 12px;
  	text-align: left;
  	color: #ee5c54;
}

.form-box .login-password-tips{
	margin-bottom:0;
}

.form-box .rf-box{
	position:relative;
	width:100%;
}

.form-box .lr-checkbox-box{
	position:relative;
	float:left;
	margin-top:10px;
	padding-left:25px;
	height:20px;
}

.form-box .lr-checkbox-box .lr-checkbox{
	position:absolute;
	top:3px;
	left:0;
	z-index:10;
	width:14px;
	height:14px;
	cursor:pointer;
}

.lr-checkbox-box .no{
	border:1px solid #d6d6d6;
}

.lr-checkbox-box .yes{
	background:#63abff;
}

.lr-checkbox-box .rp-no{
	display:none;
}

.lr-checkbox-box .rp-yes{
	display:block;
}

.lr-checkbox-box .yes::before{
	position:absolute;
	top: 4px;
    left: 3px;
    content: "";
    width: 8px;
    height: 4px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.rf-box .forget-password-box{
	float:right;
	cursor:pointer;
}

.form-box .lr-text{
	line-height:20px;
  	font-size: 12px;
  	letter-spacing: 0.9px;
  	text-align: left;
  	color: #6d6d6d;
}

.rf-box .forget-password-box{
	margin-top:10px;
}

.rf-box .forget-password-box:hover{
	color:#ffbf00;
}

/*****************************注册部分*******************************/
.lr-box .register-box{
	display:none;
	margin:30px auto;
	margin-bottom:60px;
	width:370px;
}

.register-box .register-title{
  	font-size: 18px;
  	letter-spacing: 1.5px;
  	text-align: center;
  	color: #333333;
}

.form-box .test-code{
	float:left;
	width:275px;
	border-right:0;
}

.form-box .get-code-btn{
	float:right;
	width:94px;
	height:100%;
	border:1px solid #d6d6d6;
	line-height:43px;
  	font-size: 12px;
  	letter-spacing: 0.8px;
  	text-align: center;
  	color: #0099e5;
  	cursor:pointer;
}

.form-box .get-code-btn:hover{
	color:#0099ff;
}

.form-box .lr-register-btn-box{
	margin-top:60px;
	width:100%;
	height:45px;
	line-height:45px;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #ffffff;
  	cursor:pointer;
}

.lr-checkbox-box .protocol-yes{
	display:block;
}

.lr-checkbox-box .protocol-no{
	display:none;
}

.lr-register-btn-box .complate-msg-btn{
	float:left;
	width:270px;
	height:45px;
	background:#ffbf00;
	text-align:center;
}

.lr-register-btn-box .complate-msg-btn:hover{
	background:#ffbf00;
}

.lr-register-btn-box .lr-register-btn{
	float:right;
	width:100px;
	height:45px;
	color:#ffbf00;
	text-align:center;
}

.form-box .register-password-tips{
	margin-bottom:0;
}

/********************aside*************************/
aside{
	display:none;
	position:fixed;
	top:300px;
	right:0;
	width:100px;
	z-index:100;
}

aside .aside-container{
	position:relative;
	width:100%;
	padding:10px 20px;	
}

.aside-container .aside-btn{
	display:block;
	position:relative;
	height:60px;
	width:60px;
	margin-bottom:10px;
	border-radius:100%;
	background-color: #ffbf00;
  	box-shadow: 0 2px 4px 2px rgba(175, 175, 175, 0.26);
	cursor:pointer;
}

.back-top-btn::before{
	position:absolute;
	top: 17px;
    left: 27px;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.back-top-btn::after{
	position:absolute;
	bottom: 11px;
    left: 17px;
    content: "Top";
    font-size: 14px;
  	letter-spacing: 0.8px;
  	text-align: center;
  	color: #fff;
}

.aside-container .consult-btn::before{
	position:absolute;
	top:17px;
	left:16px;
	z-index:10;
	content:"";
	width:30px;
	height:30px;
	background:url(../img/consult.png)no-repeat center center;
	background-size:100% 100%;
}

.consult-btn .consult-msg{
	position:absolute;
	bottom:-30px;
	left:50%;
	margin-left:-42px;
	width:84px;
	height:20px;
	line-height:20px;
	font-size:14px;
	text-align:center;
	color:#6d6d6d;
}

.consult-btn .consult-type{
	display:none;
	position:absolute;
	top:22px;
	left:-180px;
	z-index:100;
	width:150px;
	height:186px;
	padding:15px 10px 5px 10px;
	background:#fff;
	box-shadow: 0 2px 4px 0 rgba(226, 226, 226, 0.5);
	border-radius:4px;
	line-height:18px;
	text-align:center;
	font-size:12px;
	color:#8d8d8d;
}

.consult-btn .consult-type::before{
	position:absolute;
	top: 3px;
    right: -14px;
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    border-top: 20px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 20px solid transparent;
}

.consult-type .consult-img{
	display:block;
	width:130px;
	height:130px;
}

.aside-container .consult-btn:hover .consult-type{
	display:block;
}





/***********************login后hover我的后台接口****************************/
.lr-success:hover .backstage-entrance-container{
	display:block;
}

.lr-success .backstage-entrance-container{
	display:none;
	position:absolute;
	top:64px;
	right:0;
	z-index:100;
	width:310px;
	border-top:1px solid transparent;	
	color:#fff;
	cursor:default;
}

.lr-success .backstage-entrance-container:hover{
	display:block;
}

.backstage-entrance-container .backstage-entrance{
	width:100%;
  	border-radius: 4px;
  	background-color:rgba(0,0,0,0.62);
}

.backstage-entrance .entrance-wrapper{
	position:relative;
	padding:20px;
	padding-bottom:38px;
	width:100%;
}

.entrance-wrapper .entrance-back-btn{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:38px;
  	border-top: solid 1px #858585;
  	font-size:12px;
  	color:#fff;
  	line-height:37px;
  	text-align:center;
  	cursor:pointer;
}

.entrance-wrapper .entrance-top{
	position:relative;
	width:100%;
}

.entrance-top .entrance-img{
	display:block;
	float:left;
	width:50px;
	height:50px;
	border-radius:100%;
}

.entrance-top .entrance-name{
	padding-left:10px;
	float:left;
	width:200px;
	height:25px;
	line-height:25px;
	text-align:left;
	font-size: 16px;
  	font-weight: 500;
  	color:#fff;
}

.backstage-entrance-container .backstage-entrance .entrance-wrapper .entrance-top .entrance-tag{
	float:left;
	width:200px;
	padding-left:10px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:12px;
	color:#ffbf00;
}

.entrance-wrapper .entrance-href-box{
	margin-top:15px;
	padding-top:10px;
	padding-bottom:20px;
	width:100%;
	border-top:1px dashed #949494;
}

.entrance-href-box .entrance-href-item{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	width:130px;
	height:30px;
	line-height:30px;
	background:#656565;
	border-radius:2px;
	text-align:center;
	cursor:pointer;
}

.entrance-href-box .entrance-href-item:nth-child(2n+0){
	margin-right:0;
}

.top-box .top-nav .top-nav-item .backstage-entrance-container .backstage-entrance .entrance-wrapper .entrance-href-box .entrance-href-item a{
	font-size:14px;
	color:#fff;
}

.entrance-href-item:hover{
	background:#bfbfbf;
}


